@import "~styles/index.scss";

.shop-container {
  padding: 5rem 0;

  &.center {
    text-align: center;
  }
  &.left {
    text-align: center;
  }
  &.right {
    text-align: center;
  }
  &.dark {
    color: white;
  }

  h5 {
    padding-top: 2rem;
    padding-bottom: 3rem;
    font-size: 30px;
    font-weight: 550;
  }
  li {
    font-size: 17px;
    display: block;
    margin-top: 0.5rem;
    text-decoration: 0;
  }
  p {
    text-align: center;
    margin-top: 6rem;
    font-size: 4rem;
    font-weight: 200;
  }
  a {
    background-color: #fff;
    border: 0.1rem solid #d3d3d3;
    border-radius: 5rem;
    color: #000;
    font-size: 1.5rem;
    padding: 1rem;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    width: 200px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .li {
    margin-bottom: 3rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 3rem;
    padding-left: 0rem;
    padding-right: 0rem;
    margin-top: 3rem;
    text-align: left;
    h2 {
      text-align: center;
    }
    a {
      margin-left: 5rem;
      text-align: center;
    }
  }
}
