.product-nav-mobile {
  position: fixed;
  bottom: 0rem;
  background-color: white;
  width: 100%;
  z-index: 2;
  padding: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  .product-nav-mobile-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    .product-nav-mobile-items {
      border: 1px solid rgba(255, 255, 255, 0);
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.015),
        0px 0px 10px rgba(70, 70, 70, 0.12);
      margin: auto;
      img {
        padding: 0.5rem;
        width: 5rem;
      }
    }
  }
}
// .product-nav-mobile {
//   position: fixed;
//   bottom: 0rem;
//   width: 100%;
//   margin: auto;
//   z-index: 1;
//   .nav-container {
//     margin: 0;
//     padding: 0;
//     display: flex;
//     height: 40vh;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     text-align: center;
//     background-color: darkgray;
//     transition: all 0.5s ease;
//     animation: navheight 0.5s ease;
//     @keyframes navheight {
//       0% {
//         height: 0vh;
//       }
//       100% {
//         height: 40vh;
//       }
//     }
//     .nav-items {
//       animation: navitems 0.5s ease;
//       @keyframes navitems {
//         0% {
//           opacity: 0;
//         }
//         25% {
//           opacity: 0;
//         }
//         50% {
//           opacity: 0;
//         }
//         75% {
//           opacity: 0;
//         }
//         100% {
//           opacity: 1;
//         }
//       }
//       p {
//         padding: 1.1rem;
//         color: white;
//         cursor: pointer;
//         &:hover {
//           color: black;
//         }
//       }
//     }
//   }
//   .nav-container-hide {
//     margin: 0;
//     padding: 0;
//     display: flex;
//     height: 0vh;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     text-align: center;
//     background-color: darkgray;
//     transition: height 0.5s ease;
//     animation: navheighthide 0.5s ease;
//     @keyframes navheighthide {
//       100% {
//         height: 0vh;
//       }
//       0% {
//         height: 40vh;
//       }
//     }
//     .nav-items {
//       animation: navitemshide 0.5s ease;
//       @keyframes navitemshide {
//         100% {
//           opacity: 1;
//         }
//         0% {
//           opacity: 0;
//         }
//       }
//     }
//   }
//   .arrow-container {
//     margin: 0;
//     padding: 1rem;
//     width: 100%;
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     text-align: center;
//     background-color: lightgray;
//     span {
//       border: 0.1rem solid Gray;
//       border-radius: 5rem;
//       background-color: white;
//       padding: 0.2rem;
//       width: 10rem;
//       position: relative;
//       top: 0.5rem;
//     }
//   }
// }

//FOR DESKTOP DEVICES
@media only screen and (min-width: 754px) {
  .nav-container {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: darkgray;
    padding: 0.5rem;
    z-index: 1;
    .nav-items {
      padding: 0.5rem;
      margin-left: 3rem;
      margin-right: 3rem;
      p {
        color: white;
        cursor: pointer;
        &:hover {
          color: black;
        }
      }
    }
  }
  .shop-now {
    font-family: "Roboto", sans-serif;
    display: flex;
    position: relative;
    margin-bottom: 4rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    z-index: 0;
    top: 4rem;
    border: 0.1rem solid lightgray;
    padding: 0rem;
    a {
      color: black;
    }
  }
}
