$sidebar-bg-color: #1d1d1d;
$submenu-bg-color: rgba(255, 255, 255, 0.05);
$submenu-bg-color-collapsed: rgba(29, 29, 29, 0.95);
$sidebar-color: #adadad;
$highlight-color: #d8d8d8;
$icon-bg-color: rgba(255, 255, 255, 0);
$icon-size: 35px;

$main-color: #021025;
$main-color-gradient: linear-gradient(
  90deg,
  #0057b7 0%,
  $main-color 30%,
  $main-color
) !important;

/* Default Colors */
$grey-50: #fafafc;
$grey-100: #f6f6fa;
$grey-200: #eaeaf2;
$grey-250: #e1e1e6;
$grey-300: #c4c4cd;
$grey-400: #747480;
$grey-450: #717171;
$grey-500: #2e2e38;
$grey-510: #2e2e3c;
$grey-550: #23232f;
$grey-600: #1a1a24;
$grey-800: rgba(0, 0, 0, 0.05);

@import "~react-pro-sidebar/dist/scss/styles.scss";
body {
  margin: 0;
  height: 100vh;
}

#root {
  height: 100%;
}

.admin-wrapper {
  height: 100vh;
  display: flex;
  position: relative;
  background-color: #f8f7fa;

  .pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout::-webkit-scrollbar {
    width: 5px;
  }
  .pro-sidebar
    > .pro-sidebar-inner
    > .pro-sidebar-layout::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  .pro-sidebar
    > .pro-sidebar-inner
    > .pro-sidebar-layout::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }

  .admin-logo {
    width: 150px;
    margin: auto;
    display: block;
  }

  .btn-toggle {
    cursor: pointer;
    display: none;
  }

  .sidebar-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    .sidebar-btn {
      padding: 1px 15px;
      border-radius: 40px;
      background: $main-color-gradient;
      color: #adadad;
      text-decoration: none;
      margin: 0 auto;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;
      span {
        margin-left: 5px;
        font-size: 11px;
        color: white;
      }
      svg path {
        color: white;
      }
      &:hover {
        color: $highlight-color;
      }
    }
  }

  .collapsed {
    .sidebar-btn {
      display: inline-block;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      line-height: 40px;
      padding: 0;
    }
  }

  .block {
    display: flex;
    margin-bottom: 24px;
    font-size: 14px;
    color: #545454;
    > span {
      margin-left: 10px;
    }
  }

  /* Custom Sidebar Design */
  .pro-sidebar > .pro-sidebar-inner {
    background-color: #fff;
    border-right: 1px solid #eee;
    // box-shadow: 2px 2px 2px #eee;
  }
  .pro-sidebar-header {
    padding: 0;
    .pro-inner-item {
      padding: 1rem 2rem 1rem 2rem !important;
    }
  }
  .pro-sidebar
    .pro-menu.shaped
    .pro-menu-item
    > .pro-inner-item
    > .pro-icon-wrapper {
    svg {
      path {
        color: rgb(75, 70, 92);
      }
    }
  }

  .pro-sidebar .pro-menu .pro-menu-item.active {
    background: $main-color-gradient;

    .pro-item-content {
      color: white;
    }

    .pro-inner-item > .pro-icon-wrapper {
      svg {
        path {
          color: #fff;
        }
      }
    }
  }
  .submenu-default {
    .pro-inner-list-item {
      background: white !important;
      padding: 1rem;
      .pro-item-content {
        color: #333;
      }
    }
  }

  .pro-sidebar .pro-menu .pro-menu-item {
    padding: 0;
    font-size: 1.4rem;

    &:hover {
      opacity: 0.7;

      .pro-inner-list-item {
        background: white;
      }
    }
  }

  /** Submenu Style */
  .pro-sub-menu {
    .pro-menu-item {
      .pro-inner-item {
        padding: 8px 35px 8px 20px !important;
      }

      .suffix-wrapper {
        background: $main-color-gradient;
        padding: 3px 7px;
        border-radius: 3px;
        position: relative;
        left: 8px;

        .badge {
          color: #fff !important;
        }
      }
    }

    .react-slidedown {
      .pro-menu-item.active {
        background: #fff !important;

        a {
          color: #333 !important;
        }
      }
    }
  }
  .active-submenu {
    background: $main-color-gradient;
    .pro-inner-item {
      .pro-item-content {
        color: white;
      }

      .pro-icon-wrapper {
        svg {
          path {
            color: #fff !important;
          }
        }
      }
    }
    .pro-menu a {
      color: #333 !important;
    }
    &:hover {
      opacity: 1 !important;

      .pro-inner-list-item {
        background: white !important;
        .pro-item-content {
          a {
            color: #333 !important;
          }
        }
      }
    }
  }

  .pro-sidebar-content {
    .pro-menu {
      padding: 0;
    }
  }

  .pro-inner-list-item {
    ul {
      margin: 0;
      padding: 0 !important;
    }
  }

  @media (max-width: $breakpoint-md) {
    .btn-toggle {
      display: flex;
    }
  }

  main {
    padding: 1rem 2rem 2rem 2rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    position: relative;
  }

  .sidebar-label {
    color: rgba(51, 48, 60, 0.38);
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .user-sidebar {
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid #eee;
    margin-bottom: 0;

    h2 {
      font-weight: 400;
      font-size: 1.7rem;
      margin-bottom: 0.5rem;
    }
    p {
      font-weight: 300;
      font-size: 1.4rem;
    }
  }
}
