.ecuador-svg {
  enable-background: new 0 0 100 66.6;
  .st0 {
    fill: #fedc00;
  }
  .st1 {
    fill: #ec2227;
  }
  .st2 {
    fill: #0751a0;
  }
  .st3 {
    fill: #c1a930;
  }
  .st4 {
    fill: #c2aa2f;
  }
  .st5 {
    fill: #452c25;
  }
  .st6 {
    fill: #452d25;
  }
  .st7 {
    fill: #452d26;
  }
  .st8 {
    fill: #b1babf;
  }
  .st9 {
    fill: #dbdcdd;
  }
  .st10 {
    fill: #114e97;
  }
  .st11 {
    fill: #104e98;
  }
  .st12 {
    fill: #c4902c;
  }
  .st13 {
    fill: #271915;
  }
  .st14 {
    fill: #0c4f9a;
  }
  .st15 {
    fill: #0d4f99;
  }
  .st16 {
    fill: #bb8658;
  }
  .st17 {
    fill: #dc2226;
  }
  .st18 {
    fill: #ea2227;
  }
  .st19 {
    fill: #b1babe;
  }
  .st20 {
    fill: #a7afb3;
  }
  .st21 {
    fill: #442e23;
  }
  .st22 {
    fill: #fcda03;
  }
  .st23 {
    fill: #3f2c1d;
  }
  .st24 {
    fill: #248643;
  }
  .st25 {
    fill: #acb5b8;
  }
  .st26 {
    fill: #2a1c16;
  }
  .st27 {
    fill: #f3d310;
  }
  .st28 {
    fill: #25733c;
  }
  .st29 {
    fill: #adb6b9;
  }
  .st30 {
    fill: #1c7b40;
  }
  .st31 {
    fill: #a4acad;
  }
  .st32 {
    fill: #2f753a;
  }
  .st33 {
    fill: #afb8bc;
  }
  .st34 {
    fill: #aeb7bb;
  }
  .st35 {
    fill: #aeb7ba;
  }
  .st36 {
    fill: #417d3c;
  }
  .st37 {
    fill: #0e4b8e;
  }
  .st38 {
    fill: #adb6ba;
  }
  .st39 {
    fill: #184f90;
  }
  .st40 {
    fill: #174f90;
  }
  .st41 {
    fill: #164f93;
  }
  .st42 {
    fill: #467b3a;
  }
  .st43 {
    fill: #377138;
  }
  .st44 {
    fill: #a8b1b6;
  }
  .st45 {
    fill: #342818;
  }
  .st46 {
    fill: #abb3b8;
  }
  .st47 {
    fill: #816d2b;
  }
  .st48 {
    fill: #afb7bb;
  }
  .st49 {
    fill: #174f91;
  }
  .st50 {
    fill: #cc2825;
  }
  .st51 {
    fill: #c2c2c2;
  }
  .st52 {
    fill: #466f34;
  }
  .st53 {
    fill: #e1b524;
  }
  .st54 {
    fill: #836d2b;
  }
  .st55 {
    fill: #ce2527;
  }
  .st56 {
    fill: #745f26;
  }
  .st57 {
    fill: #7b6629;
  }
  .st58 {
    fill: #a3acaf;
  }
  .st59 {
    fill: #60562b;
  }
  .st60 {
    fill: #826228;
  }
  .st61 {
    fill: #b4b1b0;
  }
  .st62 {
    fill: #4e7e3a;
  }
  .st63 {
    fill: #dcb226;
  }
  .st64 {
    fill: #71933f;
  }
  .st65 {
    fill: #4f3b42;
  }
  .st66 {
    fill: #244079;
  }
  .st67 {
    fill: #38a648;
  }
  .st68 {
    fill: #423522;
  }
  .st69 {
    fill: #a4acb1;
  }
  .st70 {
    fill: #b5932f;
  }
  .st71 {
    fill: #417437;
  }
  .st72 {
    fill: #a7aeae;
  }
  .st73 {
    fill: #eb2227;
  }
  .st74 {
    fill: #3bab49;
  }
  .st75 {
    fill: #154a88;
  }
  .st76 {
    fill: #c49e2a;
  }
  .st77 {
    fill: #557d39;
  }
  .st78 {
    fill: #909798;
  }
  .st79 {
    fill: #4f6d32;
  }
  .st80 {
    fill: #164a88;
  }
  .st81 {
    fill: #445a29;
  }
  .st82 {
    fill: #b3922f;
  }
  .st83 {
    fill: #456c33;
  }
  .st84 {
    fill: #abb3b6;
  }
  .st85 {
    fill: #847131;
  }
  .st86 {
    fill: #2c793c;
  }
  .st87 {
    fill: #808688;
  }
  .st88 {
    fill: #2a1b17;
  }
  .st89 {
    fill: #3cb04a;
  }
  .st90 {
    fill: #ebcd19;
  }
  .st91 {
    fill: #675b24;
  }
  .st92 {
    fill: #3db24a;
  }
  .st93 {
    fill: #c7b53f;
  }
  .st94 {
    fill: #c4ac32;
  }
  .st95 {
    fill: #3b3b4d;
  }
  .st96 {
    fill: #db2927;
  }
  .st97 {
    fill: #479d45;
  }
  .st98 {
    fill: #e1b425;
  }
  .st99 {
    fill: #2c6e36;
  }
  .st100 {
    fill: #ddbe41;
  }
  .st101 {
    fill: #53813b;
  }
  .st102 {
    fill: #b1822c;
  }
  .st103 {
    fill: #a87e2c;
  }
  .st104 {
    fill: #a57d31;
  }
  .st105 {
    fill: #747873;
  }
  .st106 {
    fill: #aab3b7;
  }
  .st107 {
    fill: #3cb34a;
  }
  .st108 {
    fill: #705521;
  }
  .st109 {
    fill: #969d9f;
  }
  .st110 {
    fill: #4a6a31;
  }
  .st111 {
    fill: #736629;
  }
  .st112 {
    fill: #447d3b;
  }
  .st113 {
    fill: #3cb14a;
  }
  .st114 {
    fill: #6e7e35;
  }
  .st115 {
    fill: #88782f;
  }
  .st116 {
    fill: #bcc5cb;
  }
  .st117 {
    fill: #adb5ba;
  }
  .st118 {
    fill: #816629;
  }
  .st119 {
    fill: #876e2f;
  }
  .st120 {
    fill: #a37e37;
  }
  .st121 {
    fill: #677d35;
  }
  .st122 {
    fill: #43863f;
  }
  .st123 {
    fill: #988b37;
  }
  .st124 {
    fill: #4b7c3a;
  }
  .st125 {
    fill: #8f7d2e;
  }
  .st126 {
    fill: #675d2f;
  }
  .st127 {
    fill: #6e522c;
  }
  .st128 {
    fill: #399e47;
  }
  .st129 {
    fill: #a88039;
  }
  .st130 {
    fill: #747872;
  }
  .st131 {
    fill: #e02227;
  }
  .st132 {
    fill: #397539;
  }
  .st133 {
    fill: #3e5225;
  }
  .st134 {
    fill: #bab9b9;
  }
  .st135 {
    fill: #e3b624;
  }
  .st136 {
    fill: #57813b;
  }
  .st137 {
    fill: #554a34;
  }
  .st138 {
    fill: #3baf4a;
  }
  .st139 {
    fill: #367338;
  }
  .st140 {
    fill: #357a3b;
  }
  .st141 {
    fill: #675824;
  }
  .st142 {
    fill: #a77e2c;
  }
  .st143 {
    fill: #287038;
  }
  .st144 {
    fill: #959ca0;
  }
  .st145 {
    fill: #392d17;
  }
  .st146 {
    fill: #437236;
  }
  .st147 {
    fill: #b1862d;
  }
  .st148 {
    fill: #8c7b2e;
  }
  .st149 {
    fill: #ab3624;
  }
  .st150 {
    fill: #ad3524;
  }
  .st151 {
    fill: #7d8837;
  }
  .st152 {
    fill: #a09d9b;
  }
  .st153 {
    fill: #9f9036;
  }
  .st154 {
    fill: #7f7c55;
  }
  .st155 {
    fill: #949a9a;
  }
  .st156 {
    fill: #868258;
  }
  .st157 {
    fill: #70652a;
  }
  .st158 {
    fill: #b39330;
  }
  .st159 {
    fill: #4a7d3b;
  }
  .st160 {
    fill: #7f8068;
  }
  .st161 {
    fill: #cc2226;
  }
  .st162 {
    fill: #6f552e;
  }
  .st163 {
    fill: #4d422f;
  }
  .st164 {
    fill: #3f7036;
  }
  .st165 {
    fill: #4d4c3b;
  }
  .st166 {
    fill: #4a612c;
  }
  .st167 {
    fill: #797139;
  }
  .st168 {
    fill: #37a548;
  }
  .st169 {
    fill: #567233;
  }
  .st170 {
    fill: #596d31;
  }
  .st171 {
    fill: #904922;
  }
  .st172 {
    fill: #95893c;
  }
  .st173 {
    fill: #797d75;
  }
  .st174 {
    fill: #cfb829;
  }
  .st175 {
    fill: #6a6139;
  }
  .st176 {
    fill: #685e39;
  }
  .st177 {
    fill: #7d7450;
  }
  .st178 {
    fill: #6e6552;
  }
  .st179 {
    fill: #746a4f;
  }
  .st180 {
    fill: #797d76;
  }
  .st181 {
    fill: #928539;
  }
  .st182 {
    fill: #8f853d;
  }
  .st183 {
    fill: #747660;
  }
  .st184 {
    fill: #8e853e;
  }
  .st185 {
    fill: #817c50;
  }
  .st186 {
    fill: #9f3322;
  }
  .st187 {
    fill: #293b1c;
  }
  .st188 {
    fill: #83805a;
  }
  .st189 {
    fill: #255232;
  }
  .st190 {
    fill: #738337;
  }
  .st191 {
    fill: #5e5523;
  }
  .st192 {
    fill: #6a6046;
  }
  .st193 {
    fill: #574a31;
  }
  .st194 {
    fill: #d9dadb;
  }
  .st195 {
    fill: #7b7355;
  }
  .st196 {
    fill: #8c8a85;
  }
  .st197 {
    fill: #6e6332;
  }
  .st198 {
    fill: #736631;
  }
  .st199 {
    fill: #675422;
  }
  .st200 {
    fill: #675321;
  }
  .st201 {
    fill: #657d36;
  }
  .st202 {
    fill: #8f7c2f;
  }
  .st203 {
    fill: #8a7130;
  }
  .st204 {
    fill: #9c8f3d;
  }
  .st205 {
    fill: #b39f31;
  }
  .st206 {
    fill: #898d8a;
  }
  .st207 {
    fill: #88732c;
  }
  .st208 {
    fill: #b6b5b5;
  }
  .st209 {
    fill: #584d2c;
  }
  .st210 {
    fill: #8b752d;
  }
  .st211 {
    fill: #6b624a;
  }
  .st212 {
    fill: #888e8a;
  }
  .st213 {
    fill: #b29e31;
  }
  .st214 {
    fill: #746127;
  }
  .st215 {
    fill: #36a148;
  }
  .st216 {
    fill: #1c498f;
  }
  .st217 {
    fill: #3f213e;
  }
  .st218 {
    fill: #421d37;
  }
  .st219 {
    fill: #c38f2c;
  }
  .st220 {
    fill: #c48f2c;
  }
  .st221 {
    fill: #aeb7bc;
  }
  .st222 {
    fill: #dbbe23;
  }
  .st223 {
    fill: #adb6bb;
  }
  .st224 {
    fill: #5c5d28;
  }
  .st225 {
    fill: #21417e;
  }
  .st226 {
    fill: #a9b1b7;
  }
  .st227 {
    fill: #939a9e;
  }
  .st228 {
    fill: #9ba3a8;
  }
  .st229 {
    fill: #979fa4;
  }
  .st230 {
    fill: #5d3e18;
  }
  .st231 {
    fill: #47512b;
  }
  .st232 {
    fill: #a2abb1;
  }
  .st233 {
    fill: #543a1a;
  }
  .st234 {
    fill: #845522;
  }
  .st235 {
    fill: #aab3b8;
  }
  .st236 {
    fill: #15284f;
  }
  .st237 {
    fill: #9c5524;
  }
  .st238 {
    fill: #1e386a;
  }
  .st239 {
    fill: #9ea6ab;
  }
  .st240 {
    fill: #3c493a;
  }
  .st241 {
    fill: #364a66;
  }
  .st242 {
    fill: #9fa7ac;
  }
  .st243 {
    fill: #abb4b9;
  }
  .st244 {
    fill: #3d4d5f;
  }
  .st245 {
    fill: #655d26;
  }
  .st246 {
    fill: #162b53;
  }
  .st247 {
    fill: #8f969b;
  }
  .st248 {
    fill: #2d4260;
  }
  .st249 {
    fill: #5f5d3b;
  }
  .st250 {
    fill: #25374b;
  }
  .st251 {
    fill: #545225;
  }
  .st252 {
    fill: #30443a;
  }
  .st253 {
    fill: #3e4f62;
  }
  .st254 {
    fill: #384a64;
  }
  .st255 {
    fill: #414d3c;
  }
  .st256 {
    fill: #152631;
  }
  .st257 {
    fill: #07519f;
  }
  .st258 {
    fill: #debf21;
  }
  .st259 {
    fill: #acb5ba;
  }
  .st260 {
    fill: #5d5e28;
  }
  .st261 {
    fill: #69431a;
  }
  .st262 {
    fill: #47512a;
  }
  .st263 {
    fill: #98a1a5;
  }
  .st264 {
    fill: #995323;
  }
  .st265 {
    fill: #3b493a;
  }
  .st266 {
    fill: #2f4345;
  }
  .st267 {
    fill: #495564;
  }
  .st268 {
    fill: #915223;
  }
  .st269 {
    fill: #b0b8bd;
  }
  .st270 {
    fill: #a3abaf;
  }
  .st271 {
    fill: #172a34;
  }
  .st272 {
    fill: #81888d;
  }
  .st273 {
    fill: #575425;
  }
  .st274 {
    fill: #364840;
  }
  .st275 {
    fill: #1f3a6f;
  }
  .st276 {
    fill: #a1aaaf;
  }
  .st277 {
    fill: #253e62;
  }
  .st278 {
    fill: #8f969a;
  }
  .st279 {
    fill: #847a3f;
  }
  .st280 {
    fill: #314439;
  }
  .st281 {
    fill: #193e6d;
  }
  .st282 {
    fill: #384b64;
  }
  .st283 {
    fill: #384a60;
  }
  .st284 {
    fill: #192e58;
  }
  .st285 {
    fill: #df2429;
  }
  .st286 {
    fill: #152f3f;
  }
  .st287 {
    fill: #1b325d;
  }
  .st288 {
    fill: #736d36;
  }
  .st289 {
    fill: #e3b723;
  }
  .st290 {
    fill: #b16c29;
  }
  .st291 {
    fill: #5f5b26;
  }
  .st292 {
    fill: #9d4222;
  }
  .st293 {
    fill: #6f672f;
  }
  .st294 {
    fill: #373c1d;
  }
  .st295 {
    fill: #a04b24;
  }
  .st296 {
    fill: #a1722a;
  }
  .st297 {
    fill: #3a2912;
  }
  .st298 {
    fill: #2f602f;
  }
  .st299 {
    fill: #a14523;
  }
  .st300 {
    fill: #7d7430;
  }
  .st301 {
    fill: #2e3835;
  }
  .st302 {
    fill: #ae2e24;
  }
  .st303 {
    fill: #112a4c;
  }
  .st304 {
    fill: #de2529;
  }
  .st305 {
    fill: #122f41;
  }
  .st306 {
    fill: #e7d11b;
  }
  .st307 {
    fill: #a7afb4;
  }
  .st308 {
    fill: #7a7e7c;
  }
  .st309 {
    fill: #b2722a;
  }
  .st310 {
    fill: #3baa49;
  }
  .st311 {
    fill: #1a325c;
  }
  .st312 {
    fill: #36a047;
  }
  .st313 {
    fill: #aeb6bb;
  }
  .st314 {
    fill: #abb4b8;
  }
  .st315 {
    fill: #329646;
  }
  .st316 {
    fill: #565423;
  }
  .st317 {
    fill: #a9b2b6;
  }
  .st318 {
    fill: #848a8e;
  }
  .st319 {
    fill: #aab2b5;
  }
  .st320 {
    fill: #9d4323;
  }
  .st321 {
    fill: #9ba3a6;
  }
  .st322 {
    fill: #29753a;
  }
  .st323 {
    fill: #353a1d;
  }
  .st324 {
    fill: #767976;
  }
  .st325 {
    fill: #826d2b;
  }
  .st326 {
    fill: #0f2940;
  }
  .st327 {
    fill: #686130;
  }
  .st328 {
    fill: #9f5525;
  }
  .st329 {
    fill: #a2752b;
  }
  .st330 {
    fill: #5d6163;
  }
  .st331 {
    fill: #8f8130;
  }
  .st332 {
    fill: #09243f;
  }
  .st333 {
    fill: #2b3636;
  }
  .st334 {
    fill: #ad2e23;
  }
  .st335 {
    fill: #313a33;
  }
  .st336 {
    fill: #dca060;
  }
  .st337 {
    fill: #bd272b;
  }
  .st338 {
    fill: #2a1c19;
  }
  .st339 {
    fill: #2b1b17;
  }
  .st340 {
    fill: #33231f;
  }
  .st341 {
    fill: #2d201d;
  }
  .st342 {
    fill: #261915;
  }
  .st343 {
    fill: #2b1c17;
  }
  .st344 {
    fill: #2a1b16;
  }
  .st345 {
    fill: #2d1d18;
  }
  .st346 {
    fill: #231713;
  }
  .st347 {
    fill: #281a16;
  }
  .st348 {
    fill: #261814;
  }
  .st349 {
    fill: #2b1c18;
  }
  .st350 {
    fill: #b7a09a;
  }
  .st351 {
    fill: #291a16;
  }
  .st352 {
    fill: #261913;
  }
  .st353 {
    fill: #2a1915;
  }
  .st354 {
    fill: #2f2017;
  }
  .st355 {
    fill: #2c1c17;
  }
  .st356 {
    fill: #2c1d18;
  }
  .st357 {
    fill: #241713;
  }
  .st358 {
    fill: #2d1c18;
  }
  .st359 {
    fill: #2a1a16;
  }
  .st360 {
    fill: #2a1c17;
  }
  .st361 {
    fill: #291b16;
  }
  .st362 {
    fill: #2a1c18;
  }
  .st363 {
    fill: #291a15;
  }
  .st364 {
    fill: #2e1f16;
  }
  .st365 {
    fill: #251814;
  }
  .st366 {
    fill: #2c1c18;
  }
  .st367 {
    fill: #2c1d17;
  }
  .st368 {
    fill: #2c1d19;
  }
  .st369 {
    fill: #2e1d19;
  }
  .st370 {
    fill: #e2e2e3;
  }
  .st371 {
    fill: #fddb00;
  }
  .st372 {
    fill: #442c26;
  }
  .st373 {
    fill: #ba8557;
  }
  .st374 {
    fill: #3e2b1f;
  }
  .st375 {
    fill: #e9e8e8;
  }
  .st376 {
    fill: #422e28;
  }
  .st377 {
    fill: #e0e0e1;
  }
  .st378 {
    fill: #edecec;
  }
  .st379 {
    fill: #2e1e19;
  }
  .st380 {
    fill: #302019;
  }
  .st381 {
    fill: #c2c0c1;
  }
  .st382 {
    fill: #2e1d18;
  }
  .st383 {
    fill: #816648;
  }
  .st384 {
    fill: #201612;
  }
  .st385 {
    fill: #c0c1c1;
  }
  .st386 {
    fill: #d2d3d3;
  }
  .st387 {
    fill: #725727;
  }
  .st388 {
    fill: #796044;
  }
  .st389 {
    fill: #0376af;
  }
  .st390 {
    fill: #6fbe46;
  }
  .st391 {
    fill: #949699;
  }
  .st392 {
    fill: #0878b1;
  }
  .st393 {
    fill: #75c8e1;
  }
  .st394 {
    fill: #8d6d33;
  }
  .st395 {
    fill: #671e12;
  }
  .st396 {
    fill: #6b5839;
  }
  .st397 {
    fill: #ac7f2b;
  }
  .st398 {
    fill: #1e6644;
  }
  .st399 {
    fill: #a47c36;
  }
  .st400 {
    fill: #76351b;
  }
  .st401 {
    fill: #6f5e27;
  }
  .st402 {
    fill: #574e3b;
  }
  .st403 {
    fill: #70572a;
  }
  .st404 {
    fill: #a3782b;
  }
  .st405 {
    fill: #b4842c;
  }
  .st406 {
    fill: #7b612c;
  }
  .st407 {
    fill: #74592a;
  }
  .st408 {
    fill: #bc8a2c;
  }
  .st409 {
    fill: #ae802c;
  }
  .st410 {
    fill: #9a7736;
  }
  .st411 {
    fill: #987834;
  }
  .st412 {
    fill: #866933;
  }
  .st413 {
    fill: #a4792b;
  }
  .st414 {
    fill: #6e501f;
  }
  .st415 {
    fill: #8b6f36;
  }
  .st416 {
    fill: #6f6143;
  }
  .st417 {
    fill: #675a45;
  }
  .st418 {
    fill: #80693e;
  }
  .st419 {
    fill: #9e752a;
  }
  .st420 {
    fill: #a5792b;
  }
  .st421 {
    fill: #73592c;
  }
  .st422 {
    fill: #6a593a;
  }
  .st423 {
    fill: #6a634c;
  }
  .st424 {
    fill: #816b38;
  }
  .st425 {
    fill: #6d5b3b;
  }
  .st426 {
    fill: #784e2d;
  }
  .st427 {
    fill: #886e36;
  }
  .st428 {
    fill: #6e5838;
  }
  .st429 {
    fill: #6e5f45;
  }
  .st430 {
    fill: #ad8233;
  }
  .st431 {
    fill: #75603d;
  }
  .st432 {
    fill: #6e5a36;
  }
  .st433 {
    fill: #665e44;
  }
  .st434 {
    fill: #74653f;
  }
  .st435 {
    fill: #715e40;
  }
  .st436 {
    fill: #6e5b3e;
  }
  .st437 {
    fill: #695225;
  }
  .st438 {
    fill: #755b2d;
  }
  .st439 {
    fill: #7b6641;
  }
  .st440 {
    fill: #774924;
  }
  .st441 {
    fill: #6f5a33;
  }
  .st442 {
    fill: #aa7e2b;
  }
  .st443 {
    fill: #82311b;
  }
  .st444 {
    fill: #6d6139;
  }
  .st445 {
    fill: #6b6434;
  }
  .st446 {
    fill: #b9872d;
  }
  .st447 {
    fill: #7c693e;
  }
  .st448 {
    fill: #a57a2b;
  }
  .st449 {
    fill: #6b5939;
  }
  .st450 {
    fill: #6b6133;
  }
  .st451 {
    fill: #ad7e2b;
  }
  .st452 {
    fill: #665f2f;
  }
  .st453 {
    fill: #b8862d;
  }
  .st454 {
    fill: #a88341;
  }
  .st455 {
    fill: #63553f;
  }
  .st456 {
    fill: #525c54;
  }
  .st457 {
    fill: #735d2e;
  }
  .st458 {
    fill: #605036;
  }
  .st459 {
    fill: #bf8c2d;
  }
  .st460 {
    fill: #604e30;
  }
  .st461 {
    fill: #b8872d;
  }
  .st462 {
    fill: #624e2d;
  }
  .st463 {
    fill: #20a8d1;
  }
  .st464 {
    fill: #0f79b0;
  }
  .st465 {
    fill: #49342d;
  }
  .st466 {
    fill: #6f592d;
  }
  .st467 {
    fill: #39292d;
  }
  .st468 {
    fill: #745727;
  }
  .st469 {
    fill: #2b7142;
  }
  .st470 {
    fill: #45281f;
  }
  .st471 {
    fill: #b1832f;
  }
  .st472 {
    fill: #c18d2c;
  }
  .st473 {
    fill: #a7792b;
  }
  .st474 {
    fill: #8d7238;
  }
  .st475 {
    fill: #7b3f24;
  }
  .st476 {
    fill: #a27b35;
  }
  .st477 {
    fill: #ab8031;
  }
  .st478 {
    fill: #b6852c;
  }
  .st479 {
    fill: #937131;
  }
  .st480 {
    fill: #957737;
  }
  .st481 {
    fill: #907031;
  }
  .st482 {
    fill: #ae8334;
  }
  .st483 {
    fill: #6b6044;
  }
  .st484 {
    fill: #512f1e;
  }
  .st485 {
    fill: #986f29;
  }
  .st486 {
    fill: #69583d;
  }
  .st487 {
    fill: #4d2621;
  }
  .st488 {
    fill: #886c38;
  }
  .st489 {
    fill: #7c5f29;
  }
  .st490 {
    fill: #755824;
  }
  .st491 {
    fill: #887343;
  }
  .st492 {
    fill: #753f20;
  }
  .st493 {
    fill: #514932;
  }
  .st494 {
    fill: #5a311a;
  }
  .st495 {
    fill: #66563a;
  }
  .st496 {
    fill: #89713d;
  }
  .st497 {
    fill: #56261a;
  }
  .st498 {
    fill: #6c5938;
  }
  .st499 {
    fill: #79612f;
  }
  .st500 {
    fill: #aa8035;
  }
  .st501 {
    fill: #66502a;
  }
  .st502 {
    fill: #665f29;
  }
  .st503 {
    fill: #775926;
  }
  .st504 {
    fill: #6b6247;
  }
  .st505 {
    fill: #6a593e;
  }
  .st506 {
    fill: #616133;
  }
  .st507 {
    fill: #636049;
  }
  .st508 {
    fill: #a87b2b;
  }
  .st509 {
    fill: #6e5b3d;
  }
  .st510 {
    fill: #755f38;
  }
  .st511 {
    fill: #6d6354;
  }
  .st512 {
    fill: #646132;
  }
  .st513 {
    fill: #a97c2b;
  }
  .st514 {
    fill: #69522f;
  }
  .st515 {
    fill: #997839;
  }
  .st516 {
    fill: #655b2d;
  }
  .st517 {
    fill: #5f4320;
  }
  .st518 {
    fill: #6a5e36;
  }
  .st519 {
    fill: #66602f;
  }
  .st520 {
    fill: #40291b;
  }
  .st521 {
    fill: #6b593a;
  }
  .st522 {
    fill: #5c381a;
  }
  .st523 {
    fill: #685c48;
  }
  .st524 {
    fill: #655434;
  }
  .st525 {
    fill: #784f25;
  }
  .st526 {
    fill: #6d593a;
  }
  .st527 {
    fill: #675b47;
  }
  .st528 {
    fill: #56642c;
  }
  .st529 {
    fill: #7c6230;
  }
  .st530 {
    fill: #b7862d;
  }
  .st531 {
    fill: #594b30;
  }
  .st532 {
    fill: #db2627;
  }
  .st533 {
    fill: #347339;
  }
  .st534 {
    fill: #046031;
  }
  .st535 {
    fill: #045b2f;
  }
  .st536 {
    fill: #08793e;
  }
  .st537 {
    fill: #2e6e37;
  }
  .st538 {
    fill: #d1a627;
  }
  .st539 {
    fill: #09783e;
  }
  .st540 {
    fill: #406f35;
  }
  .st541 {
    fill: #a33322;
  }
  .st542 {
    fill: #426e34;
  }
  .st543 {
    fill: #a73623;
  }
  .st544 {
    fill: #039149;
  }
  .st545 {
    fill: #aa3423;
  }
  .st546 {
    fill: #322420;
  }
  .st547 {
    fill: #31201a;
  }
  .st548 {
    fill: #2c1d16;
  }
  .st549 {
    fill: #dc2527;
  }
  .st550 {
    fill: #deb224;
  }
  .st551 {
    fill: #356c35;
  }
  .st552 {
    fill: #4ca445;
  }
  .st553 {
    fill: #4b7637;
  }
  .st554 {
    fill: #397438;
  }
  .st555 {
    fill: #31793c;
  }
  .st556 {
    fill: #3daf4a;
  }
  .st557 {
    fill: #567f3a;
  }
  .st558 {
    fill: #37a648;
  }
  .st559 {
    fill: #3ea648;
  }
  .st560 {
    fill: #4d7a39;
  }
  .st561 {
    fill: #50a646;
  }
  .st562 {
    fill: #577837;
  }
  .st563 {
    fill: #a26d29;
  }
  .st564 {
    fill: #487d3b;
  }
  .st565 {
    fill: #447c3b;
  }
  .st566 {
    fill: #979235;
  }
  .st567 {
    fill: #aa2823;
  }
  .st568 {
    fill: #a44424;
  }
  .st569 {
    fill: #aa2d23;
  }
  .st570 {
    fill: #978530;
  }
  .st571 {
    fill: #e62227;
  }
  .st572 {
    fill: #c5902c;
  }
  .st573 {
    fill: #705229;
  }
  .st574 {
    fill: #644828;
  }
  .st575 {
    fill: #7e5b23;
  }
  .st576 {
    fill: #73604b;
  }
  .st577 {
    fill: #412a22;
  }
  .st578 {
    fill: #59401b;
  }
  .st579 {
    fill: #cca531;
  }
  .st580 {
    fill: #573718;
  }
  .st581 {
    fill: #3d3947;
  }
  .st582 {
    fill: #694e2a;
  }
  .st583 {
    fill: #846b2d;
  }
  .st584 {
    fill: #927635;
  }
  .st585 {
    fill: #654921;
  }
  .st586 {
    fill: #09509d;
  }
  .st587 {
    fill: #382d1d;
  }
  .st588 {
    fill: #0a4d72;
  }
  .st589 {
    fill: #245936;
  }
  .st590 {
    fill: #40592b;
  }
  .st591 {
    fill: #cbb132;
  }
  .st592 {
    fill: #e3bd40;
  }
  .st593 {
    fill: #f0c547;
  }
  .st594 {
    fill: #3db14a;
  }
  .st595 {
    fill: #497e3b;
  }
  .st596 {
    fill: #05964c;
  }
  .st597 {
    fill: #1f8141;
  }
  .st598 {
    fill: #3d7237;
  }
  .st599 {
    fill: #486931;
  }
  .st600 {
    fill: #26743a;
  }
  .st601 {
    fill: #377137;
  }
  .st602 {
    fill: #06954b;
  }
  .st603 {
    fill: #22773d;
  }
  .st604 {
    fill: #1c4972;
  }
  .st605 {
    fill: #47573d;
  }
  .st606 {
    fill: #17488a;
  }
  .st607 {
    fill: #069b4d;
  }
  .st608 {
    fill: #059a4d;
  }
  .st609 {
    fill: #1c4584;
  }
  .st610 {
    fill: #6b231b;
  }
  .st611 {
    fill: #1d3f71;
  }
  .st612 {
    fill: #25424d;
  }
  .st613 {
    fill: #20407a;
  }
  .st614 {
    fill: #3d4e3a;
  }
  .st615 {
    fill: #f2d314;
  }
  .st616 {
    fill: #b4bcc1;
  }
  .st617 {
    fill: #c59f2d;
  }
  .st618 {
    fill: #e6b922;
  }
  .st619 {
    fill: #3d4d3b;
  }
  .st620 {
    fill: #c7a12d;
  }
  .st621 {
    fill: #ae8c2f;
  }
  .st622 {
    fill: #42b049;
  }
  .st623 {
    fill: #eec248;
  }
  .st624 {
    fill: #236231;
  }
  .st625 {
    fill: #39ad4a;
  }
  .st626 {
    fill: #38a849;
  }
  .st627 {
    fill: #589c44;
  }
  .st628 {
    fill: #f7d70c;
  }
  .st629 {
    fill: #eac745;
  }
  .st630 {
    fill: #6a983f;
  }
  .st631 {
    fill: #479e46;
  }
  .st632 {
    fill: #3bae4a;
  }
  .st633 {
    fill: #43a547;
  }
  .st634 {
    fill: #4c853d;
  }
  .st635 {
    fill: #368c41;
  }
  .st636 {
    fill: #526f32;
  }
  .st637 {
    fill: #6d7430;
  }
  .st638 {
    fill: #226130;
  }
  .st639 {
    fill: #f7d44b;
  }
  .st640 {
    fill: #dcc423;
  }
  .st641 {
    fill: #327e3e;
  }
  .st642 {
    fill: #39a448;
  }
  .st643 {
    fill: #dfb325;
  }
  .st644 {
    fill: #363c26;
  }
  .st645 {
    fill: #5d1115;
  }
  .st646 {
    fill: #674119;
  }
  .st647 {
    fill: #5c3e17;
  }
  .st648 {
    fill: #6a5f26;
  }
  .st649 {
    fill: #5b3213;
  }
  .st650 {
    fill: #0d2243;
  }
  .st651 {
    fill: #2b182b;
  }
  .st652 {
    fill: #201b34;
  }
  .st653 {
    fill: #2d182b;
  }
  .st654 {
    fill: #281b34;
  }
  .st655 {
    fill: #7a1415;
  }
  .st656 {
    fill: #a16026;
  }
  .st657 {
    fill: #a46127;
  }
  .st658 {
    fill: #583e18;
  }
  .st659 {
    fill: #956928;
  }
  .st660 {
    fill: #9c5724;
  }
  .st661 {
    fill: #513213;
  }
  .st662 {
    fill: #422d15;
  }
  .st663 {
    fill: #392a1a;
  }
  .st664 {
    fill: #3b2819;
  }
  .st665 {
    fill: #382713;
  }
  .st666 {
    fill: #4e2e13;
  }
  .st667 {
    fill: #b8772a;
  }
  .st668 {
    fill: #bc892b;
  }
  .st669 {
    fill: #a05725;
  }
  .st670 {
    fill: #ac6b28;
  }
  .st671 {
    fill: #aa6327;
  }
  .st672 {
    fill: #b56f29;
  }
  .st673 {
    fill: #573b16;
  }
  .st674 {
    fill: #ab6328;
  }
  .st675 {
    fill: #9e6526;
  }
  .st676 {
    fill: #5e3b15;
  }
  .st677 {
    fill: #ab6327;
  }
  .st678 {
    fill: #6f1b12;
  }
  .st679 {
    fill: #4d2e13;
  }
  .st680 {
    fill: #4d3515;
  }
  .st681 {
    fill: #603c17;
  }
  .st682 {
    fill: #4c3414;
  }
  .st683 {
    fill: #332413;
  }
  .st684 {
    fill: #949b9f;
  }
  .st685 {
    fill: #a4adb2;
  }
  .st686 {
    fill: #a35f26;
  }
  .st687 {
    fill: #ac6428;
  }
  .st688 {
    fill: #c08d2d;
  }
  .st689 {
    fill: #5a5222;
  }
  .st690 {
    fill: #65441a;
  }
  .st691 {
    fill: #201b35;
  }
  .st692 {
    fill: #271b34;
  }
  .st693 {
    fill: #251a32;
  }
  .st694 {
    fill: #061c36;
  }
  .st695 {
    fill: #204281;
  }
  .st696 {
    fill: #9d5625;
  }
  .st697 {
    fill: #543916;
  }
  .st698 {
    fill: #a15e26;
  }
  .st699 {
    fill: #b66f29;
  }
  .st700 {
    fill: #5b3a16;
  }
  .st701 {
    fill: #b67029;
  }
  .st702 {
    fill: #a25f26;
  }
  .st703 {
    fill: #5d3b15;
  }
  .st704 {
    fill: #9a5d25;
  }
  .st705 {
    fill: #4e3515;
  }
  .st706 {
    fill: #4b2a11;
  }
  .st707 {
    fill: #3b2913;
  }
  .st708 {
    fill: #785420;
  }
  .st709 {
    fill: #4a3314;
  }
  .st710 {
    fill: #a4adb1;
  }
  .st711 {
    fill: #b2bbc0;
  }
  .st712 {
    fill: #381626;
  }
  .st713 {
    fill: #a76727;
  }
  .st714 {
    fill: #043f3b;
  }
  .st715 {
    fill: #162b23;
  }
  .st716 {
    fill: #223d5b;
  }
  .st717 {
    fill: #321627;
  }
  .st718 {
    fill: #7d1c16;
  }
  .st719 {
    fill: #055632;
  }
  .st720 {
    fill: #443018;
  }
  .st721 {
    fill: #05934a;
  }
  .st722 {
    fill: #cbd4d7;
  }
  .st723 {
    fill: #3b1522;
  }
  .st724 {
    fill: #33331e;
  }
  .st725 {
    fill: #1f5f37;
  }
  .st726 {
    fill: #26172a;
  }
  .st727 {
    fill: #2f3d51;
  }
  .st728 {
    fill: #409d45;
  }
  .st729 {
    fill: #427538;
  }
  .st730 {
    fill: #668339;
  }
  .st731 {
    fill: #4e662e;
  }
  .st732 {
    fill: #0a509d;
  }
  .st733 {
    fill: #5e6265;
  }
  .st734 {
    fill: #223d5c;
  }
  .st735 {
    fill: #848b8e;
  }
  .st736 {
    fill: #39803d;
  }
  .st737 {
    fill: #3caf4a;
  }
  .st738 {
    fill: #2a783c;
  }
  .st739 {
    fill: #e1c622;
  }
  .st740 {
    fill: #f1f0f0;
  }
  .st741 {
    fill: #ce9358;
  }
  .st742 {
    fill: #6b4b2e;
  }
  .st743 {
    fill: #77695a;
  }
  .st744 {
    fill: #786250;
  }
  .st745 {
    fill: #743322;
  }
  .st746 {
    fill: #806a51;
  }
  .st747 {
    fill: #211613;
  }
  .st748 {
    fill: #594321;
  }
  .st749 {
    fill: #a6774c;
  }
  .st750 {
    fill: #73562b;
  }
  .st751 {
    fill: #504032;
  }
  .st752 {
    fill: #7e6236;
  }
  .st753 {
    fill: #6c4e2a;
  }
  .st754 {
    fill: #5c3b16;
  }
  .st755 {
    fill: #452327;
  }
  .st756 {
    fill: #aa7c2c;
  }
  .st757 {
    fill: #971f1f;
  }
  .st758 {
    fill: #7a3e1b;
  }
  .st759 {
    fill: #661d1a;
  }
  .st760 {
    fill: #222634;
  }
  .st761 {
    fill: #e9d01f;
  }
  .st762 {
    fill: #1d539a;
  }
  .st763 {
    fill: #265296;
  }
  .st764 {
    fill: #e72329;
  }
  .st765 {
    fill: #e4252a;
  }
  .st766 {
    fill: #3a463a;
  }
  .st767 {
    fill: #a0a746;
  }
  .st768 {
    fill: #0f6793;
  }
  .st769 {
    fill: #0c4c69;
  }
  .st770 {
    fill: #496162;
  }
  .st771 {
    fill: #cb482c;
  }
  .st772 {
    fill: #6a4d1f;
  }
  .st773 {
    fill: #107eb6;
  }
  .st774 {
    fill: #3f8cbb;
  }
  .st775 {
    fill: #5094c3;
  }
  .st776 {
    fill: #2282b6;
  }
  .st777 {
    fill: #75a4ca;
  }
  .st778 {
    fill: #91b2d1;
  }
  .st779 {
    fill: #639bc2;
  }
  .st780 {
    fill: #325c3d;
  }
  .st781 {
    fill: #2c743f;
  }
  .st782 {
    fill: #1f694b;
  }
  .st783 {
    fill: #19683a;
  }
  .st784 {
    fill: #0f603e;
  }
  .st785 {
    fill: #304734;
  }
  .st786 {
    fill: #334e2c;
  }
  .st787 {
    fill: #1e694a;
  }
  .st788 {
    fill: #52622c;
  }
  .st789 {
    fill: #367145;
  }
  .st790 {
    fill: #3b6230;
  }
  .st791 {
    fill: #34453d;
  }
  .st792 {
    fill: #235433;
  }
  .st793 {
    fill: #5fc0de;
  }
  .st794 {
    fill: #4dbadb;
  }
  .st795 {
    fill: #6ac4df;
  }
  .st796 {
    fill: #3faed0;
  }
  .st797 {
    fill: #dec124;
  }
  .st798 {
    fill: #605b34;
  }
  .st799 {
    fill: #7b6e2b;
  }
  .st800 {
    fill: #f9d908;
  }
  .st801 {
    fill: #f0d116;
  }
  .st802 {
    fill: #edce19;
  }
  .st803 {
    fill: #736b3f;
  }
  .st804 {
    fill: #605a34;
  }
  .st805 {
    fill: #bea62d;
  }
  .st806 {
    fill: #eccd19;
  }
  .st807 {
    fill: #f3d312;
  }
  .st808 {
    fill: #5e5c4e;
  }
  .st809 {
    fill: #4e8090;
  }
  .st810 {
    fill: #507d8d;
  }
  .st811 {
    fill: #4d8091;
  }
  .st812 {
    fill: #417c8e;
  }
  .st813 {
    fill: #605b3e;
  }
  .st814 {
    fill: #577b89;
  }
  .st815 {
    fill: #fcda01;
  }
  .st816 {
    fill: #7f712c;
  }
  .st817 {
    fill: #5b5121;
  }
  .st818 {
    fill: #32433e;
  }
  .st819 {
    fill: #85878d;
  }
  .st820 {
    fill: #ffffff;
  }
  .st821 {
    fill: #87cee4;
  }
  .st822 {
    fill: #08519f;
  }
  .st823 {
    fill: #4e9b46;
  }
  .st824 {
    fill: #5c4821;
  }
  .st825 {
    fill: #755421;
  }
  .st826 {
    fill: #445353;
  }
  .st827 {
    fill: #4d442c;
  }
  .st828 {
    fill: #856025;
  }
  .st829 {
    fill: #9ad2e4;
  }
  .st830 {
    fill: #567277;
  }
  .st831 {
    fill: #2182b7;
  }
  .st832 {
    fill: #176b42;
  }
  .st833 {
    fill: #296f45;
  }
  .st834 {
    fill: #226c44;
  }
  .st835 {
    fill: #324c32;
  }
  .st836 {
    fill: #504326;
  }
  .st837 {
    fill: #395047;
  }
  .st838 {
    fill: #3c6430;
  }
  .st839 {
    fill: #297eae;
  }
  .st840 {
    fill: #3a4f4a;
  }
  .st841 {
    fill: #105231;
  }
  .st842 {
    fill: #366e4e;
  }
  .st843 {
    fill: #3b612f;
  }
  .st844 {
    fill: #3c524f;
  }
  .st845 {
    fill: #605c28;
  }
  .st846 {
    fill: #406a33;
  }
  .st847 {
    fill: #354e3a;
  }
  .st848 {
    fill: #445d56;
  }
  .st849 {
    fill: #355232;
  }
  .st850 {
    fill: #3a583a;
  }
  .st851 {
    fill: #327f97;
  }
  .st852 {
    fill: #d7bd25;
  }
  .st853 {
    fill: #eacc1b;
  }
  .st854 {
    fill: #e0c420;
  }
  .st855 {
    fill: #747130;
  }
  .st856 {
    fill: #d2b926;
  }
  .st857 {
    fill: #f1d215;
  }
  .st858 {
    fill: #2b565a;
  }
  .st859 {
    fill: #626934;
  }
  .st860 {
    fill: #247a89;
  }
  .st861 {
    fill: #4c715a;
  }
  .st862 {
    fill: #516843;
  }
  .st863 {
    fill: #837b2e;
  }
  .st864 {
    fill: #4b7056;
  }
  .st865 {
    fill: #4e7c8c;
  }
  .st866 {
    fill: #507987;
  }
  .st867 {
    fill: #4fbbdb;
  }
  .st868 {
    fill: #3bb2d5;
  }
  .st869 {
    fill: #bea62b;
  }
  .st870 {
    fill: #c4ab2c;
  }
  .st871 {
    fill: #7b7c7e;
  }
  .st872 {
    fill: #83742d;
  }
  .st873 {
    fill: #66613f;
  }
  .st874 {
    fill: #dfc221;
  }
  .st875 {
    fill: #c0a82f;
  }
  .st876 {
    fill: #736730;
  }
  .st877 {
    fill: #e7c91a;
  }
  .st878 {
    fill: #665c29;
  }
  .st879 {
    fill: #f5d510;
  }
  .st880 {
    fill: #f7d60d;
  }
  .st881 {
    fill: #897a2f;
  }
  .st882 {
    fill: #e1c423;
  }
  .st883 {
    fill: #a5912f;
  }
  .st884 {
    fill: #488092;
  }
  .st885 {
    fill: #756c38;
  }
  .st886 {
    fill: #014e73;
  }
  .st887 {
    fill: #046694;
  }
  .st888 {
    fill: #2c2634;
  }
  .st889 {
    fill: #4c2d22;
  }
  .st890 {
    fill: #5e3d19;
  }
  .st891 {
    fill: #ab833e;
  }
  .st892 {
    fill: #c08c2c;
  }
  .st893 {
    fill: #795822;
  }
  .st894 {
    fill: #81cde4;
  }
  .st895 {
    fill: #8cd1e6;
  }
  .st896 {
    fill: #9fd9ea;
  }
  .st897 {
    fill: #95d5e9;
  }
  .st898 {
    fill: #b2deeb;
  }
  .st899 {
    fill: #a9dceb;
  }
  .st900 {
    fill: #46231b;
  }
  .st901 {
    fill: #6dc6e1;
  }
  .st902 {
    fill: #77cae3;
  }
  .st903 {
    fill: #3a5054;
  }
  .st904 {
    fill: #067b3f;
  }
  .st905 {
    fill: #05984c;
  }
  .st906 {
    fill: #069b4e;
  }
  .st907 {
    fill: #345e2d;
  }
  .st908 {
    fill: #059b4d;
  }
  .st909 {
    fill: #057d40;
  }
  .st910 {
    fill: #38aa49;
  }
  .st911 {
    fill: #40ac48;
  }
  .st912 {
    fill: #4fb048;
  }
  .st913 {
    fill: #2a7b3d;
  }
  .st914 {
    fill: #2b813f;
  }
  .st915 {
    fill: #39ad49;
  }
  .st916 {
    fill: #397e3c;
  }
  .st917 {
    fill: #3cb24a;
  }
  .st918 {
    fill: #fcdb03;
  }
  .st919 {
    fill: #dbc026;
  }
  .st920 {
    fill: #dcc026;
  }
  .st921 {
    fill: #06974d;
  }
  .st922 {
    fill: #069148;
  }
  .st923 {
    fill: #066940;
  }
  .st924 {
    fill: #02954b;
  }
  .st925 {
    fill: #333530;
  }
  .st926 {
    fill: #0a4e98;
  }
  .st927 {
    fill: #38a948;
  }
  .st928 {
    fill: #46ac49;
  }
  .st929 {
    fill: #4da246;
  }
  .st930 {
    fill: #6ca643;
  }
  .st931 {
    fill: #508a3f;
  }
  .st932 {
    fill: #b7a131;
  }
  .st933 {
    fill: #056735;
  }
  .st934 {
    fill: #02443d;
  }
  .st935 {
    fill: #056434;
  }
  .st936 {
    fill: #03582e;
  }
  .st937 {
    fill: #035c30;
  }
  .st938 {
    fill: #047e40;
  }
  .st939 {
    fill: #05542b;
  }
  .st940 {
    fill: #073c50;
  }
  .st941 {
    fill: #02463b;
  }
  .st942 {
    fill: #05954b;
  }
  .st943 {
    fill: #e2c622;
  }
  .st944 {
    fill: #04592e;
  }
  .st945 {
    fill: #3f602d;
  }
  .st946 {
    fill: #066835;
  }
  .st947 {
    fill: #047f41;
  }
  .st948 {
    fill: #02403e;
  }
  .st949 {
    fill: #4d7938;
  }
  .st950 {
    fill: #2e7339;
  }
  .st951 {
    fill: #1d5e3b;
  }
  .st952 {
    fill: #617533;
  }
  .st953 {
    fill: #f9da4e;
  }
  .st954 {
    fill: #b36d29;
  }
  .st955 {
    fill: #9d5e25;
  }
  .st956 {
    fill: #905523;
  }
  .st957 {
    fill: #4b3316;
  }
  .st958 {
    fill: #332412;
  }
  .st959 {
    fill: #a25725;
  }
  .st960 {
    fill: #8d6227;
  }
  .st961 {
    fill: #4b3215;
  }
  .st962 {
    fill: #482f14;
  }
  .st963 {
    fill: #694a1d;
  }
  .st964 {
    fill: #795020;
  }
  .st965 {
    fill: #66481c;
  }
  .st966 {
    fill: #402c13;
  }
  .st967 {
    fill: #916b28;
  }
  .st968 {
    fill: #a86127;
  }
  .st969 {
    fill: #9f5725;
  }
  .st970 {
    fill: #382312;
  }
  .st971 {
    fill: #b7762a;
  }
  .st972 {
    fill: #69665e;
  }
  .st973 {
    fill: #b26d29;
  }
  .st974 {
    fill: #523715;
  }
  .st975 {
    fill: #9e5525;
  }
  .st976 {
    fill: #985a24;
  }
  .st977 {
    fill: #342412;
  }
  .st978 {
    fill: #6a491c;
  }
  .st979 {
    fill: #6a481c;
  }
  .st980 {
    fill: #513616;
  }
  .st981 {
    fill: #916527;
  }
  .st982 {
    fill: #553615;
  }
  .st983 {
    fill: #9f5625;
  }
  .st984 {
    fill: #a77b2c;
  }
  .st985 {
    fill: #64451a;
  }
  .st986 {
    fill: #b46e29;
  }
  .st987 {
    fill: #9c5624;
  }
  .st988 {
    fill: #3b2b1f;
  }
  .st989 {
    fill: #452f15;
  }
  .st990 {
    fill: #605644;
  }
  .st991 {
    fill: #969c9f;
  }
  .st992 {
    fill: #e8cd1a;
  }
  .st993 {
    fill: #2e8b45;
  }
  .st994 {
    fill: #387338;
  }
  .st995 {
    fill: #c3b22f;
  }
  .st996 {
    fill: #36a348;
  }
  .st997 {
    fill: #e0ca48;
  }
  .st998 {
    fill: #71943d;
  }
  .st999 {
    fill: #d5be28;
  }
  .st1000 {
    fill: #2a6b35;
  }
  .st1001 {
    fill: #3aac4a;
  }
  .st1002 {
    fill: #29783c;
  }
  .st1003 {
    fill: #b06c28;
  }
  .st1004 {
    fill: #754e1e;
  }
  .st1005 {
    fill: #a1772b;
  }
  .st1006 {
    fill: #117bb2;
  }
  .st1007 {
    fill: #1b475b;
  }
  .st1008 {
    fill: #5c6f70;
  }
  .st1009 {
    fill: #a2a4a7;
  }
  .st1010 {
    fill: #c8be2c;
  }
  .st1011 {
    fill: #b0af36;
  }
  .st1012 {
    fill: #616d4d;
  }
  .st1013 {
    fill: #2a606f;
  }
  .st1014 {
    fill: #736f64;
  }
  .st1015 {
    fill: #526249;
  }
  .st1016 {
    fill: #5b4b1e;
  }
  .st1017 {
    fill: #275092;
  }
  .st1018 {
    fill: #6b6760;
  }
  .st1019 {
    fill: #f7df06;
  }
  .st1020 {
    fill: #27598b;
  }
  .st1021 {
    fill: #c4d3dc;
  }
  .st1022 {
    fill: #416873;
  }
  .st1023 {
    fill: #2e87bc;
  }
  .st1024 {
    fill: #cedae2;
  }
  .st1025 {
    fill: #c8d4dd;
  }
  .st1026 {
    fill: #5e7881;
  }
  .st1027 {
    fill: #53737d;
  }
  .st1028 {
    fill: #f2d214;
  }
  .st1029 {
    fill: #e5c91b;
  }
  .st1030 {
    fill: #53623b;
  }
  .st1031 {
    fill: #417570;
  }
  .st1032 {
    fill: #5e754f;
  }
  .st1033 {
    fill: #576737;
  }
  .st1034 {
    fill: #504d31;
  }
  .st1035 {
    fill: #fcdb02;
  }
  .st1036 {
    fill: #776929;
  }
  .st1037 {
    fill: #1379ae;
  }
  .st1038 {
    fill: #297aa4;
  }
  .st1039 {
    fill: #c3c2c2;
  }
  .st1040 {
    fill: #4a5658;
  }
  .st1041 {
    fill: #606a6b;
  }
  .st1042 {
    fill: #667d84;
  }
  .st1043 {
    fill: #4b595c;
  }
  .st1044 {
    fill: #5a6162;
  }
  .st1045 {
    fill: #e1e2e1;
  }
  .st1046 {
    fill: #48595c;
  }
  .st1047 {
    fill: #475456;
  }
  .st1048 {
    fill: #929da1;
  }
  .st1049 {
    fill: #4d5b5d;
  }
  .st1050 {
    fill: #38793b;
  }
  .st1051 {
    fill: #53ae48;
  }
  .st1052 {
    fill: #ccb743;
  }
  .st1053 {
    fill: #379d47;
  }
  .st1054 {
    fill: #37a348;
  }
  .st1055 {
    fill: #339245;
  }
  .st1056 {
    fill: #2b6133;
  }
  .st1057 {
    fill: #26723a;
  }
  .st1058 {
    fill: #2f4d2a;
  }
  .st1059 {
    fill: #0e4656;
  }
  .st1060 {
    fill: #164972;
  }
  .st1061 {
    fill: #417e3c;
  }
  .st1062 {
    fill: #fadb4e;
  }
  .st1063 {
    fill: #617c85;
  }
  .st1064 {
    fill: #647e88;
  }
  .st1065 {
    fill: #2c3b3e;
  }
  .st1066 {
    fill: #627980;
  }
  .st1067 {
    fill: #657f89;
  }
  .st1068 {
    fill: #5e7880;
  }
  .st1069 {
    fill: #273537;
  }
  .st1070 {
    fill: #637d86;
  }
  .st1071 {
    fill: #647f89;
  }
  .st1072 {
    fill: #627d86;
  }
  .st1073 {
    fill: #a4b8cc;
  }
  .st1074 {
    fill: #68838d;
  }
  .st1075 {
    fill: #1b82b9;
  }
  .st1076 {
    fill: #13668f;
  }
  .st1077 {
    fill: #37687c;
  }
  .st1078 {
    fill: #0a7ab2;
  }
  .st1079 {
    fill: #797043;
  }
  .st1080 {
    fill: #dfc322;
  }
  .st1081 {
    fill: #426754;
  }
  .st1082 {
    fill: #ebcc19;
  }
  .st1083 {
    fill: #646d39;
  }
  .st1084 {
    fill: #fcdb4f;
  }
  .st1085 {
    fill: #596d30;
  }
  .st1086 {
    fill: #658038;
  }
  .st1087 {
    fill: #3aa246;
  }
  .st1088 {
    fill: #eed44d;
  }
  .st1089 {
    fill: #42b34a;
  }
  .st1090 {
    fill: #3aaa49;
  }
  .st1091 {
    fill: #4a7c3a;
  }
  .st1092 {
    fill: #5d883c;
  }
  .st1093 {
    fill: #3f853f;
  }
  .st1094 {
    fill: #39aa49;
  }
  .st1095 {
    fill: #2e783b;
  }
  .st1096 {
    fill: #5a7c38;
  }
  .st1097 {
    fill: #62676a;
  }
  .st1098 {
    fill: #1174a8;
  }
  .st1099 {
    fill: #4a676d;
  }
  .st1100 {
    fill: #d8dddf;
  }
  .st1101 {
    fill: #1e5b7c;
  }
  .st1102 {
    fill: #2d7ea5;
  }
  .st1103 {
    fill: #4c5852;
  }
  .st1104 {
    fill: #7e724d;
  }
  .st1105 {
    fill: #146892;
  }
  .st1106 {
    fill: #01567f;
  }
  .st1107 {
    fill: #685d23;
  }
  .st1108 {
    fill: #5e5322;
  }
  .st1109 {
    fill: #306c35;
  }
  .st1110 {
    fill: #d1bf46;
  }
  .st1111 {
    fill: #52a346;
  }
  .st1112 {
    fill: #d3ba2a;
  }
  .st1113 {
    fill: #d4ba42;
  }
  .st1114 {
    fill: #0c7eb4;
  }
  .st1115 {
    fill: #487d3a;
  }
}
