@import "styles/changetheme.scss";
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
html {
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-behavior: smooth;
	// body {
	//   height: 100%;
	//   width: 100%;
	// }
}

.has-margin-top {
	margin-top: 5rem;
}

/* Default Colors */
$grey-50: #fafafc;
$grey-100: #f6f6fa;
$grey-200: #eaeaf2;
$grey-250: #e1e1e6;
$grey-300: #c4c4cd;
$grey-400: #747480;
$grey-450: #717171;
$grey-500: #2e2e38;
$grey-510: #2e2e3c;
$grey-550: #23232f;
$grey-600: #1a1a24;
$grey-800: rgba(0, 0, 0, 0.05);

.profile-menu {
	.MuiPaper-root {
		border-radius: 5px !important;
		width: 200px;
		box-shadow: 0px 10px 36px 0px rgba(0, 0, 0, 0.29);
		ul {
			padding: 0 !important;
			h2 {
				padding: 1rem 0;
				text-align: center;
				font-family: "Roboto", sans-serif;
				font-weight: 400;
				border-bottom: 1px solid #cfc1db;
				font-size: 1.5rem;
				background: #1d1d1d;
				color: #fff;
			}
			li {
				display: flex;
				align-items: center;
				font-size: 1.2rem;
				color: #747480;
				font-weight: 400;
				font-family: "Roboto", sans-serif;
				text-transform: uppercase;
				svg {
					margin-right: 1.5rem;
					font-size: 1.5rem;
					color: rgba(115, 103, 240);
				}
			}
		}
	}
}
