$main-background: linear-gradient(
  180deg,
  rgba(255, 255, 255, 1) 65%,
  rgba(225, 226, 232, 1) 35%
);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background: $main-background;
}
.has-margin-top {
  margin-top: 5rem;
}
