@font-face {
  font-family: MetropolisBold;
  src: url("../../../../../public/fonts/Metropolis/Metropolis/Metropolis-Bold.otf");
}

.distributor-form {
  @media screen and (max-width: 900px) {
    margin-bottom: 2rem;
  }
  .label-value {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;

    h5 {
      font-family: "MetropolisBold", sans-serif;
      font-size: 1.4rem;
    }
  }

  .toast-message {
    position: fixed;
    right: 1rem;
    top: 6rem;
    z-index: 9999;
    width: auto;
    font-size: 16px;
    padding: 0.5rem 3rem;
  }

  .form-control {
    font-size: 1.6rem;
    border-radius: 0;
  }
  @media screen and (max-width: 900px) {
    margin-bottom: 2rem;

    input[name="subject"] {
      width: 80%;
      margin: auto;
      display: block;
    }
  }

  button {
    box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.2);
    background-color: transparent !important;
    color: #212529 !important;
    border-radius: 40px;
    width: 200px;
    margin: auto;
    display: block;
    border: none;
  }
  .textarea-container {
    padding: 2rem;
    border-radius: 40px !important;
    box-shadow: inset 1px 2px 18px rgba(0, 0, 0, 0.15);
    margin-bottom: 2rem;
    textarea {
      margin-top: 2rem;
      padding: 0rem;
      overflow: auto;
      overflow-x: hidden;
      border: 0;
      box-shadow: none;
      border-radius: 0px !important;
      box-sizing: border-box;
      resize: none;
    }
    textarea::-webkit-scrollbar-track {
      background-color: #e2e2e2;
    }

    textarea::-webkit-scrollbar {
      position: relative;
      right: 1rem;
      width: 6px;
      max-height: 1px;
      background-color: #f5f5f5;
      border-radius: 1rem;
    }

    textarea::-webkit-scrollbar-thumb {
      border-radius: 100px;
      background-color: #545454;
    }
    textarea::-webkit-scrollbar-corner {
    }
  }
}
