@font-face {
  font-family: Inter;
  src: url("../../../../../../public/fonts/Inter/static/Inter-Medium.ttf");
}

.PSUSection-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  padding: 15rem 0;

  .PSUSection-content {
    h2 {
      font-size: 7.3rem;
      font-family: "Inter", sans-serif;
      font-weight: 700;
    }
    p {
      font-family: "Inter", sans-serif;
      font-size: 2rem;
      margin-bottom: 4rem;
      color: #a5a5a5;
      font-weight: 300;
    }
    button {
      border-radius: 70px;
      padding: 0.7rem 1.5rem;
      font-size: 1.2rem;
      background: #15161b;
      margin-bottom: 7rem;
    }
  }
}

@media screen and (max-width: 425px) {
  .PSUSection-container {
    padding: 10rem 0;
    .PSUSection-content {
      h2 {
        font-size: 5rem;
      }
      p {
        font-size: 1.7rem;
      }
    }
  }
}
