@font-face {
  font-family: MetropolisBold;
  src: url("../../../../../../public/fonts/Metropolis/Metropolis/Metropolis-Bold.otf");
}
.caption-container {
  margin-top: 2rem;
  text-align: center;
  h1 {
    font-size: 3rem;
    font-family: "MetropolisBold", sans-serif;
    margin: 0;
  }
  p {
    width: auto;
    padding: 1rem;
    font-size: 1.7rem;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
  }
}

//DESKTOP VIEW
@media only screen and (min-width: 754px) {
  .caption-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: 0.2rem solid gray;
    margin-bottom: 1rem;
    margin-top: 1rem;

    h1 {
      font-size: 5rem;
      font-family: "MetropolisBold", sans-serif;
      margin: 0;
    }
    p {
      justify-content: center;
      width: 50rem;
      padding: 1rem;
      font-size: 2rem;
      font-weight: 300;
      font-family: "Roboto", sans-serif;
    }
  }
}
