.button-container {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  border: 1px solid transparent;
  transition: 0.2s;

  &:hover {
    opacity: 0.7;
    border: 1px solid #ced4da;
  }
}

.default {
  &:hover {
    background: #fff !important;
    color: #0077b6;
    font-weight: 600;
  }
}

.danger {
  background: #f02d3a;

  &:hover {
    background: #fff;
    color: #f02d3a;
    font-weight: 600;
  }
}
