$lightgray: #d3d3d3;
.navbar {
  background-color: black;
  height: 5rem;
  &-brand {
    img {
      width: 13rem;
      height: 3rem;
    }
  }
  &-nav {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    .navbar-item {
      margin-left: 3rem;
      margin-right: 3rem;
      .links {
        color: #d3d3d3;
        transition: all 0.3s ease;
        &:hover {
          color: white;
        }
      }
    }
    .search-icon {
      color: #d3d3d3;
      transition: all 0.3s ease;
      cursor: pointer;
      &:hover {
        color: white;
      }
    }
  }
  .select-language {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    button {
      background-color: transparent;
      border: none;
      &:hover {
        background-color: transparent;
      }
      &:active {
        background-color: transparent;
        border: none;
        outline: none;
      }
      &:focus {
        box-shadow: none;
      }
    }
    .language-menu-toggler {
      cursor: default;
    }
    .globe-icon {
      z-index: 1;
      font-size: 2rem;
      color: #d3d3d3;
      transition: all 0.3s ease;
      cursor: pointer;
      &:hover {
        color: white;
      }
    }

    .language-dropdown-menu {
      animation: dropdown 0.3s ease;
      @keyframes dropdown {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }
    .language-dropdown-menu-hide {
      display: block;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 3rem;
      animation: dropdownhide 0.3s ease;
      @keyframes dropdownhide {
        0% {
          opacity: 1;
          visibility: visible;
          display: block;
        }
        100% {
          opacity: 0;
          visibility: hidden;
          display: none;
        }
      }
    }

    img {
      background-color: #d3d3d3;
      border-radius: 100%;
      &:hover {
        background-color: white;
      }
    }
    .language {
      height: 100%;
      &:hover {
        background-color: #d3d3d3;
        transition: all 0.3s ease;
      }
    }
  }
}
.sub-navbar {
  top: 5rem;
  height: 20rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5rem);
  transition: top 0.3s ease;
  animation: showsubnavbar 0.5s ease;
  z-index: 0;
  @keyframes showsubnavbar {
    0% {
      top: -10rem;
      backdrop-filter: blur(5rem);
      background: rgba(255, 255, 255, 0.1);
    }
    100% {
      top: 5rem;
      backdrop-filter: blur(5rem);
      background: rgba(255, 255, 255, 0.1);
    }
  }
  .sub-navbar-nav {
    height: 18rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .sub-navbar-items {
      margin: auto;
      color: white;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      font-size: 2rem;
      animation: showsubnavbaritems 1s ease;
      @keyframes showsubnavbaritems {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }
    .sub-navbar-items-support {
      margin: auto;
      color: white;
      text-align: center;
      justify-content: center;
      align-items: center;
      img {
        padding: 1rem;
      }
      pre {
        font-size: 2rem;
      }
    }
  }
}
.sub-navbar-hide {
  top: 5rem;
  height: 20rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5rem);
  transition: top 0.3s ease;
  animation: hidesubnavbar 0.5s ease;
  z-index: 0;
  @keyframes hidesubnavbar {
    100% {
      top: 5rem;
      backdrop-filter: blur(5rem);
      background: rgba(255, 255, 255, 0.1);
    }
    0% {
      top: -10rem;
      backdrop-filter: blur(5rem);
      background: rgba(255, 255, 255, 0.1);
    }
  }
  .sub-navbar-nav {
    height: 18rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .sub-navbar-items {
      margin: auto;
      color: white;
      transition: all 0.5s ease;
    }
    .sub-navbar-items-support {
      margin: auto;
      color: white;
      white-space: pre;
    }
  }
}
