.navbar {
  background-color: black;
  &-brand {
    img {
      position: relative;
      left: 3rem;
    }
  }
  &-nav {
    .navbar-item {
      a {
        color: lightgray;
        font-size: 1.3rem;
        font-weight: bold;
        margin-left: 5rem;
        margin-right: 5rem;
        text-transform: uppercase;
        &:hover {
          color: white;
        }
      }
      .search-icon {
        color: lightgray;
        cursor: pointer;
        &:hover {
          color: white;
        }
      }
    }
  }
  .select-language {
    color: lightgray;
    text-decoration: none;
    list-style-type: none;
  }
}
