@font-face {
  font-family: MetropolisBold;
  src: url("../../../../../../public/fonts/Metropolis/Metropolis/Metropolis-Bold.otf");
}
.mouse-section {
  height: 100vh;
  background: linear-gradient(-165deg, #ffffff 50%, #e1e2e8 50%);
  background-attachment: fixed;
  .mouse-caption-container {
    position: relative;
    text-align: center;
    width: 100%;
    top: 20rem;
    h3 {
      font-size: 3rem;
      font-family: "MetropolisBold", sans-serif;
      font-weight: 500;
    }
    p {
      font-size: 2rem;
    }
    .learn-more {
      position: relative;
      top: 1rem;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      p {
        font-family: "Exo", sans-serif;
        width: 25rem;
        font-size: 1.7rem;
        border: none;
        border-radius: 1.5rem;
        box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5),
          0.5rem 0.5rem 1.5rem rgba(70, 70, 70, 0.12);
        background-color: #eff0f3;
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: center;
        span {
          float: right;
          svg {
            width: 1.3rem;
          }
        }
      }
    }
  }
  .mouse-img-container {
    position: relative;
    top: 30rem;
    img {
      width: 100%;
    }
  }
}

//DESKTOP VIEW
@media only screen and (min-width: 1024px) {
  .mouse-section {
    position: relative;
    width: 100%;
    .mouse-caption-container {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      z-index: 2;
      h3 {
        font-size: 7rem;
        font-family: "MetropolisBold", sans-serif;
        font-weight: 500;
      }
      p {
        font-size: 3rem;
      }
      .learn-more {
        position: relative;
        top: 1rem;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        p {
          font-family: "Exo", sans-serif;
          width: 25rem;
          font-size: 1.7rem;
          border: none;
          border-radius: 1.5rem;
          background-color: rgba(0, 0, 0, 0.05);
          box-shadow: inset -20px -10px 15px rgba(0, 0, 0, 0.015),
            10px 10px 15px rgba(70, 70, 70, 0.12);
          display: flex;
          flex-direction: row;
          text-align: center;
          align-items: center;
          justify-content: center;
          span {
            float: right;
            svg {
              width: 1.3rem;
            }
          }
        }
      }
    }
    .mouse-img-container {
      position: relative;
      top: 0rem;
      img {
        width: 100%;
      }
    }
  }
}
