.mouse-section {
  position: relative;
  width: 100%;
  .mouse-caption-container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    h3 {
      font-size: 7rem;
      font-family: "Exo", sans-serif;
      font-weight: 500;
    }
    p {
      font-size: 3rem;
    }
    .learn-more {
      position: relative;
      top: 1rem;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      p {
        font-family: "Exo", sans-serif;
        width: 25rem;
        font-size: 1.7rem;
        border: none;
        border-radius: 1.5rem;
        box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5),
          0.5rem 0.5rem 1.5rem rgba(70, 70, 70, 0.12);
        background-color: #eff0f3;
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: center;
        span {
          float: right;
          svg {
            width: 1.3rem;
          }
        }
      }
    }
  }
  .mouse-img-container {
    img {
      width: 100%;
    }
  }
}
