.modal-dialog {
  .modal-title {
    font-weight: 800;
    font-size: 17px;
  }
  .modal-body {
    font-weight: 300;
    font-size: 16px;
  }

  /*Button Styles*/
  .btn {
    font-size: 13px;
    background-color: #1d1d1f;
    border-color: #1d1d1f;
  }
  .btn-secondary {
    background-color: transparent;
    color: #6c757d;
  }
}
