.fb-svg {
  enable-background: new 0 0 40 40;
  .st0 {
    fill: #4267b2;
  }
  .st1 {
    display: none;
  }
  .st2 {
    display: inline;
    fill: #9e9d9e;
  }
  .st3 {
    display: none;
    fill: #9e9d9e;
  }
}
