.color-availability-container {
    display: flex;
    justify-content: center;
    gap: 1rem;

    .color-availability {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: 1px solid lightgray;
    }
}