.chevron-left,
.chevron-right {
  background-color: green;
  position: relative;
}
.arrow-left,
.arrow-right {
  position: absolute;
  top: 0rem;
}
.arrow-left {
  left: 0;
}
.arrow-right {
  right: 0;
}
.product-container {
  margin-top: 10vh;
}
@media only screen and (min-width: 754px) {
  .product-container {
    margin-top: 0;
  }
}
