.label-value {
  h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-bottom: 0.3rem;
  }
  p {
    font-size: 1.2rem;
  }
  button {
    border: none;
    background: transparent;
    border-bottom: 1px dotted #333;
    font-size: 1.3rem;
  }
  .field-warning-text {
    color: red;
  }
  .warning-and-distributor {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
.labeled-input {
  input,
  textarea {
    padding: 1rem;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.15),
      inset 5px 5px 5px rgba(255, 255, 255, 0.13);
    font-size: 0.5rem;
    background-color: transparent;
  }
}

.label-value-bold {
  h5 {
    font-weight: 800;
  }
}
.label-value-light {
  h5 {
    font-weight: 400;
  }
  p {
    color: red;
  }
}
