.inquiries {
  &-get-in-touch {
    border-bottom: 1px solid #eee;
    margin-bottom: 2rem;
    h5 {
      margin-bottom: 2rem;
      font-size: 21px;
      font-weight: 300;
    }
    p {
      font-weight: 400;
      font-size: 13px;
      margin-bottom: 2rem;
    }
  }
  &-contact-list {
    h5 {
      margin-bottom: 2rem;
      font-size: 21px;
      font-weight: 300;
    }
    label {
      font-size: 12px;
      display: block;
      margin-bottom: 1rem;
    }
  }
}
