.specifications-container {
  animation-name: specifications;
  animation-timing-function: ease;
  animation-duration: 0.5s;
  @keyframes specifications {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .specifications-table {
    display: flex;
    flex-direction: row;
    justify-content: center;
    tbody {
      tr {
        border-top: 0.1rem solid lightgray;
        border-bottom: 0.1rem solid lightgray;
        .specs-name {
          font-family: "Roboto", sans-serif;
          font-size: 2rem;
          padding: 3rem;
          border: none;
        }
        .subname-container {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          text-align: center;
        }
        .subdescription-container {
          .specs-subdescription {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            width: 200%;
          }
        }

        .specs-description {
          border: none;
          font-family: "Exo", sans-serif;
          padding: 3.5rem;
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          justify-content: flex-end;
          text-align: end;
        }
      }
    }
  }
}
