.specifications-container {
  width: 100%;
  animation-name: specifications;
  animation-timing-function: ease;
  animation-duration: 0.5s;
  @keyframes specifications {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .specifications-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 0.1rem solid gray;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    h2 {
      font-size: 1.7rem;
      margin-bottom: 2rem;
    }
    p {
      font-size: 1.5rem;
    }
    .subspecs-container {
      display: flex;
      flex-direction: row;
      width: 100%;
      .subname-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        p {
          font-weight: bold;
        }
      }
      .subdescription-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        width: 100%;
      }
    }
  }
}
// .specifications-container {
//   animation-name: specifications;
//   animation-timing-function: ease;
//   animation-duration: 0.5s;
//   @keyframes specifications {
//     0% {
//       opacity: 0;
//     }
//     100% {
//       opacity: 1;
//     }
//   }
//   .specifications-table {
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     tbody {
//       tr {
//         border-top: 0.1rem solid lightgray;
//         border-bottom: 0.1rem solid lightgray;
//         .specs-name {
//           font-family: "Roboto", sans-serif;
//           font-size: 1.3rem;
//           padding: 3rem;
//           border: none;
//           width: 100%;
//         }
//         .subname-container {
//         }
//         .subdescription-container {
//           .specs-subdescription {
//             display: flex;
//             flex-direction: column;
//             justify-content: flex-end;
//             align-items: flex-end;
//             font-size: 1.3rem;
//           }
//         }

//         .specs-description {
//           border: none;
//           font-family: "Exo", sans-serif;
//           padding: 3rem;
//           font-size: 1.3rem;
//         }
//       }
//     }
//   }
// }
//DESKTOP VIEW
@media only screen and (min-width: 754px) {
  .specifications-container {
    animation-name: specifications;
    animation-timing-function: ease;
    animation-duration: 0.5s;
    @keyframes specifications {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    .specifications-table {
      display: flex;
      flex-direction: row;
      justify-content: center;
      tbody {
        tr {
          border-top: 0.1rem solid lightgray;
          border-bottom: 0.1rem solid lightgray;
          .specs-name {
            font-family: "Roboto", sans-serif;
            font-size: 2rem;
            padding: 3rem;
            border: none;
          }
          .subname-container {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            text-align: center;
          }
          .subdescription-container {
            .specs-subdescription {
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              align-items: flex-end;
              width: 200%;
            }
          }

          .specs-description {
            border: none;
            font-family: "Exo", sans-serif;
            padding: 3.5rem;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: flex-end;
            text-align: end;
          }
        }
      }
    }
  }
}
