@font-face {
  font-family: Gothic;
  src: url("../../../../../../public/fonts/century-gothic/GOTHICB0.TTF");
}

@font-face {
  font-family: Inter;
  src: url("../../../../../../public/fonts/Inter/static/Inter-Medium.ttf");
}

.main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  //MAIN STYLE
  .main {
    width: 80%;
    animation: mainopacity 0.5s ease;
    @keyframes mainopacity {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    .listen-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      .list,
      .en {
        font-size: 20rem;
        font-weight: bold;
        font-family: Gothic, sans-serif;
        font-weight: bolder;
        position: relative;
        bottom: 5rem;
        left: 0rem;
      }

      .en {
        z-index: 2;
      }
    }

    .details-container {
      display: flex;
      justify-content: center;
      height: 100%;
      line-height: 2rem;
      p {
        padding: 1rem;
        display: flex;
        justify-content: flex-end;
        text-align: end;
        align-items: flex-end;
        width: 20%;

        font-family: Inter, sans-serif;
        position: relative;
        right: 13rem;
        bottom: 11rem;
      }

      .img-container {
        width: 40%;
        height: 70vh;
        position: absolute;
        left: 60%;
        top: 50%;
        transform: translate(-50%, -50%);

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .learn-more-btn {
      border: none;
      border-radius: 5rem;
      background-color: black;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 10px 20px;
      position: relative;
      left: 48rem;
      bottom: 10rem;
      width: 106px;
      height: 36px;
      font-family: Inter, sans-serif;
      font-size: 1rem;
    }
  }
  //KEYBOARD VIEW STYLE
  .kb-main {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    animation: kbopacity 0.5s ease;
    @keyframes kbopacity {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    .top-content {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      top: 13rem;
      z-index: 1;
      p {
        position: relative;
        left: 11rem;
        font-family: Inter, sans-serif;
      }
    }

    .dominate-container {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      top: 5rem;
      .dom,
      .inate {
        font-size: 20rem;
        font-family: Gothic, sans-serif;
        text-transform: uppercase;
      }
      .dom {
      }
      .inate {
        z-index: 2;
      }
    }
    .img-container {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    .center-content {
      display: flex;
      justify-content: flex-end;
      z-index: 1;
      position: relative;
      top: 5rem;
      font-family: Inter, sans-serif;
      p {
        text-align: right;
        width: 30%;
      }
    }
    .btn-container {
      display: flex;
      justify-content: flex-end;
      position: relative;
      top: 5rem;
      right: 0;
      button {
        border: none;
        border-radius: 5rem;
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px 20px;
        width: 106px;
        height: 36px;
        font-family: Inter, sans-serif;
        font-size: 1rem;
      }
    }
  }

  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .main {
      .listen-container {
        .list,
        .en {
          font-size: 15rem;
        }

        .en {
          z-index: 2;
        }
      }
      .details-container {
        display: flex;
        justify-content: center;
        height: 100%;
        line-height: 2rem;
        p {
          width: 20rem;
          right: 17rem;
          bottom: 10rem;
        }

        .img-container {
          width: 70%;
          height: 60vh;
          img {
            position: relative;
            top: 0rem;
            width: 100%;
            height: 100%;
          }
        }
      }

      .learn-more-btn {
        position: relative;
        left: 12rem;
      }
    }
  }

  //1440px below
  @media screen and (max-width: 1024px) and (min-width: 769px) {
    .main {
      .details-container {
        p {
          width: 25rem;
        }
        .img-container {
          width: 60%;
          img {
            position: relative;
            left: 5rem;
            width: 100%;
          }
        }
      }

      .learn-more-btn {
        position: relative;
        left: 30rem;
      }
    }
  }
}
