@font-face {
  font-family: MetropolisBold;
  src: url("../../../../../../public/fonts/Metropolis/Metropolis/Metropolis-Bold.otf");
}
.main-desktop-container {
  display: flex;
  flex-direction: column-reverse;
  .grid-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    .text-container {
      display: flex;
      p {
        font-size: 5rem;
        font-family: "MetropolisBold", sans-serif;

        &:nth-child(1) {
          color: skyblue;
        }
        &:nth-child(2) {
          color: darkslategray;
        }
        &:nth-child(3) {
          color: pink;
        }
      }
    }
    .button-container {
      button {
        position: relative;
        font-size: 1.3rem;
        display: flex;
        padding: 0rem 1rem;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 5rem;
        background-color: rgba(0, 0, 0, 0.05);
        box-shadow: inset -20px -10px 15px rgba(0, 0, 0, 0.015),
          10px 10px 15px rgba(70, 70, 70, 0.12);
        span {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          width: auto;
          height: 100%;
          svg {
            width: 1rem;
            height: 1rem;
          }
        }
      }
    }
  }
  .grid-images {
    height: 70vh;
    width: 100%;
    background: url("../../../../../../public/images/micronics-assets/home-page/main-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70vh;
  }
}
// .headset-container {
//   width: 100%;
//   height: 100vh;
//   background-size: cover;
//   background-attachment: fixed;
//   .mobile-logo-container {
//     position: absolute;
//     top: 40%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     padding: 2rem;
//     width: 30rem;
//     .mobile-logo {
//       width: 100%;
//     }
//   }
//   .text-button {
//     text-align: center;
//     transform: rotate(90deg);
//     cursor: pointer;
//     font-family: "Roboto", sans-serif;
//     font-size: 2rem;
//     position: relative;
//     top: 60rem;
//     span {
//       margin: 0.5rem;
//       position: relative;
//     }
//     .span1 {
//       opacity: 0.8;
//       animation-name: span1;
//       animation-timing-function: ease;
//       animation-duration: 1s;
//       animation-direction: normal;
//       animation-iteration-count: infinite;
//       @keyframes span1 {
//         0% {
//           left: 0;
//         }
//         100% {
//           left: 1rem;
//         }
//       }
//     }
//     .span2 {
//       opacity: 0.6;
//       animation-name: span2;
//       animation-timing-function: ease;
//       animation-duration: 1s;
//       animation-direction: normal;
//       animation-iteration-count: infinite;
//       @keyframes span2 {
//         25% {
//           left: 0;
//         }
//         100% {
//           left: 1rem;
//         }
//       }
//     }
//     .span3 {
//       opacity: 0.4;
//       animation-name: span3;
//       animation-timing-function: ease;
//       animation-duration: 1s;
//       animation-direction: normal;
//       animation-iteration-count: infinite;
//       @keyframes span3 {
//         50% {
//           left: 0;
//         }
//         100% {
//           left: 1rem;
//         }
//       }
//     }
//   }
// }

//DESKTOP VIEW
@media only screen and (min-width: 754px) {
  .main-desktop-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 30% 70%;
    .grid-details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .text-container {
        p {
          font-size: 5rem;
          font-family: "MetropolisBold", sans-serif;

          &:nth-child(1) {
            color: skyblue;
          }
          &:nth-child(2) {
            color: darkslategray;
          }
          &:nth-child(3) {
            color: pink;
          }
        }
      }
      .button-container {
        button {
          position: relative;
          font-size: 1.3rem;
          display: flex;
          padding: 0rem 1rem;
          align-items: center;
          justify-content: center;
          border: none;
          border-radius: 5rem;
          background-color: rgba(0, 0, 0, 0.05);
          box-shadow: inset -20px -10px 15px rgba(0, 0, 0, 0.015),
            10px 10px 15px rgba(70, 70, 70, 0.12);
          span {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: auto;
            height: 100%;
            svg {
              width: 1rem;
              height: 1rem;
            }
          }
        }
      }
    }
    .grid-images {
      background: url("../../../../../../public/images/micronics-assets/home-page/main-bg.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}
//1024px below view
@media only screen and (max-width: 1024px) and (min-width: 754px) {
  .main-desktop-container {
    display: flex;
    flex-direction: column-reverse;
    .grid-details {
      width: 100%;
      height: 30vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      .text-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        align-items: center;
        gap: 5rem;
        p {
          text-align: center;
        }
      }
      .button-container {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        button {
          padding: 0 1rem;
          width: 30%;
        }
      }
    }
    .grid-images {
      height: 70vh;
    }
  }
}
// //1024px below view
// @media only screen and (max-width: 1440px) and (min-width: 754px) {
//   .main-container {
//     height: 100vh;
//     margin-top: 5rem;
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center;
//     background-attachment: fixed;
//     .container-fluid {
//     }
//     .main-caption {
//       width: 100%;
//       height: 70vh;
//       font-size: 5rem;
//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//       align-items: flex-start;
//       position: relative;

//       font-family: "MetropolisBold", sans-serif;
//       .text1,
//       .text2 {
//         position: relative;
//         left: 10rem;
//       }
//     }
//     .main-text-button {
//       text-align: center;
//       cursor: pointer;
//       font-family: "Roboto", sans-serif;
//       font-size: 1.5rem;
//       position: relative;
//       height: 30vh;
//       p {
//         display: flex;
//         flex-direction: row;
//         justify-content: center;
//         align-items: center;
//         text-align: center;
//         transform: rotate(90deg);
//         span {
//           margin: 0.5rem;
//           position: relative;
//         }
//         .span1 {
//           opacity: 0.8;
//           animation-name: span1;
//           animation-timing-function: ease;
//           animation-duration: 1s;
//           animation-direction: normal;
//           animation-iteration-count: infinite;
//           @keyframes span1 {
//             0% {
//               left: 0;
//             }
//             100% {
//               left: 1rem;
//             }
//           }
//         }
//         .span2 {
//           opacity: 0.6;
//           animation-name: span2;
//           animation-timing-function: ease;
//           animation-duration: 1s;
//           animation-direction: normal;
//           animation-iteration-count: infinite;
//           @keyframes span2 {
//             25% {
//               left: 0;
//             }
//             100% {
//               left: 1rem;
//             }
//           }
//         }
//         .span3 {
//           opacity: 0.4;
//           animation-name: span3;
//           animation-timing-function: ease;
//           animation-duration: 1s;
//           animation-direction: normal;
//           animation-iteration-count: infinite;
//           @keyframes span3 {
//             50% {
//               left: 0;
//             }
//             100% {
//               left: 1rem;
//             }
//           }
//         }
//       }
//     }
//     .main-image-container {
//       height: 70vh;

//       display: flex;
//       flex-direction: row;
//       justify-content: flex-end;
//       align-items: flex-end;
//       .main-mh2 {
//         position: relative;
//         top: 0rem;
//         width: 100%;
//         height: auto;
//       }
//     }
//   }
// }
