@font-face {
  font-family: MetropolisBold;
  src: url("../../../public/fonts/Metropolis/Metropolis/Metropolis-Bold.otf");
}
.support-content {
  .sidebar-container {
    h5 {
      font-family: "MetropolisBold", sans-serif;
      border: none;
    }
    .sidebar-categories {
      padding-left: 0rem;
    }
  }

  .support-table {
    .table-captions {
      padding: 2rem;
      border-bottom: 1px solid #eee;
      display: flex;
      justify-content: space-between;
      h2 {
        font-family: "MetropolisBold", sans-serif;
        font-weight: 800;
        font-size: 18px;
      }
      span {
        font-size: 1.2rem;
      }
    }

    .table-content {
      padding: 0;
      margin: 0;
      .title-btn-container {
        padding: 2rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: relative;

        h5 {
          width: 200px;
        }

        .shadowed-btn {
          margin-left: 1rem;
          display: inline-block;
          text-align: center;
        }

        .table-btn-container {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
        h5 {
          text-align: center;
          font-size: 2rem;
          font-weight: 500;
          margin-bottom: 2rem;
        }
      }
    }

    .table-items {
      border-bottom: 1px solid #eee;
    }
  }
}

//Tablet view
@media screen and (max-width: 1000px) {
  .support-content {
    .support-table {
      .table-content {
        .title-btn-container {
          display: flex;
          flex-direction: column;
          h5 {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
