@font-face {
  font-family: MetropolisBold;
  src: url("../../../public/fonts/Metropolis/Metropolis/Metropolis-Bold.otf");
}
.support-content {
  padding: 3rem 0;

  .sidebar-container {
    h5 {
      font-family: "MetropolisBold", sans-serif;
      border: none;
    }

    .sidebar-categories {
      padding-left: 2rem;
    }
  }

  .support-table {
    .table-captions {
      border-bottom: 1px solid #eee;
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      display: flex;
      justify-content: space-between;
      h2 {
        font-family: "MetropolisBold", sans-serif;
        font-weight: 800;
        font-size: 18px;
      }
      span {
        font-size: 1.2rem;
      }
    }

    .table-content {
      h5 {
        font-weight: 900;
        font-size: 27px;
        font-weight: 300;
      }
    }

    .table-items {
      display: flex;
      justify-content: space-between;
      vertical-align: middle;
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid #eee;
      padding-left: 3rem;
      padding-top: 2rem;
      padding-bottom: 2rem;

      h5 {
        font-size: 2.3rem;
        text-transform: uppercase;
        font-weight: 300;
      }

      button {
        margin-left: 1rem;
      }
    }
  }
}
