.login-container {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 5rem;

  .login-left-col-container {
    img {
      border-radius: 10px;
    }
  }

  .login-right-col-container {
    .righ-col-captions {
      text-align: left;
      margin-bottom: 2rem;
      h2 {
        display: flex;
        align-items: center;
        font-size: 3rem;
        font-family: "Roboto", sans-serif;
        color: rgba(47, 43, 61, 0.78);

        svg {
          margin-left: 1rem;
        }
      }
      p {
        font-family: "Roboto", sans-serif;
        font-size: 1.5rem;
        color: rgba(47, 43, 61, 0.78);
        font-weight: 500;
      }
    }

    label {
      font-family: "Roboto", sans-serif;
      font-size: 1.5rem;
      color: rgba(47, 43, 61, 0.78);
      font-weight: 500;
    }

    .MuiOutlinedInput-input {
      font-size: 1.5rem;
      font-weight: 500;
      font-family: "Roboto", sans-serif;
    }
    .login-form-control {
      display: flex;
      flex-direction: column;
      font-family: "Roboto", sans-serif;
      margin-bottom: 2rem;

      .Mui-error {
        font-size: 1.3rem;
      }
    }
    .login-options {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2rem;

      input {
        margin-right: 1rem;
      }

      label {
        display: flex;
        align-items: center;
      }

      button {
        background: none;
        border: none;
        color: #000;

        &:hover {
          opacity: 0.5;
        }
      }
    }
    .btn-login {
      button {
        width: 100%;
        padding: 1rem 1.5rem;
        border-radius: 6px;
        border: none;
        background: #fff;
        font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
        color: #000;
        font-weight: 600;
        box-shadow: 0 4px 6px -1px #eee, 0 2px 4px -1px #eee;
      }
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
