.alert-wrapper {
  font-family: "Montserrat", sans-serif;

  .message {
    display: flex;
    align-items: center;

    h3 {
      font-weight: 500 !important;
      font-size: 1.1rem !important;
      color: #df0505 !important;
    }

    .message-icon {
      svg {
        display: flex;
        align-items: center;
        color: #df0505;
        font-size: 1.3rem;
        margin-right: 1rem;
      }
    }
  }
}
