.fixed-spinner {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  svg {
    color: #fff !important;
    path {
      color: #fff !important;
    }
  }
}

.relative-spinner {
  position: relative;
  z-index: 99999;
  text-align: center;
  padding: 5rem 0;

  svg {
    color: #fff !important;
    path {
      color: #fff !important;
    }
  }
}
