.product-page-container {
	margin: 2rem 0;
	.product-top-actions {
		margin: 2rem 0;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;

		.content-label {
			h3,
			p {
				font-family: "Montserrat", sans-serif;
			}

			p {
				font: 300 1.3rem "Montserrat";
				color: #96a8b3;
			}
		}
	}

	.user-table {
		display: flex;
		.product-image-admin {
			width: 50px;
			height: 40px;
			border-radius: 5px;
			object-fit: fill;
			margin: 1rem;
		}
	}
}
