@import "~styles/index.scss";
$banner-dark: #111214;
$banner-light: #fff;

.banner {
  padding: 5rem 0;
  box-shadow: 3px 3px 3px #eee;

  &.center {
    text-align: center;
    padding: 10rem;
  }
  &.left {
    text-align: left;
  }
  &.right {
    text-align: right;
  }
  &.dark {
    background-color: $banner-dark;

    h2 {
      color: white;
    }
    p {
      color: white;
    }
  }
  &.light {
    h2 {
      color: black;
    }
    p {
      color: black;
    }
  }

  h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 5rem;
  }
  p {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
  }
}
@media only screen and (max-width: 500px) {
  .banner {
    h2 {
      font-size: 3rem;
    }
    &.center {
      padding: 3rem;
    }
  }
}
