.user-page-container {
  margin-top: 2rem;

  .add-user-btn {
    display: flex;
    justify-content: flex-end;
    button {
      padding: 0.5rem 1rem;
      font-size: 1.3rem;
      color: #fff;
      border: none;
      box-shadow: 0 4px 6px -1px #eee, 0 2px 4px -1px #eee;
      background: #5783db;
      border-radius: 5px;
      margin-bottom: 1rem;
    }
  }
}

.MuiBox-root {
  padding: 2rem;

  .Mui-error {
    font-size: 1.3rem;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
  }

  h3 {
    font-size: 1.8rem;
    font-family: "Roboto", sans-serif;
    color: #1d3147 !important;
    margin-bottom: 2rem;
    font-weight: 600;
  }

  .form-control-user {
    margin: 2rem 0;
    label {
      font-size: 1.4rem;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      color: #415a77;
    }

    input {
      box-shadow: none;
      background: #fff !important;
      border: 1px solid #415a77;
      border-radius: 10px !important;
      padding: 1rem;
      font-size: 1.7rem;
      color: #0d1b2a;
      font-weight: 500;
      font-family: "Roboto", sans-serif;
      color: #0d1b2a;

      &::placeholder {
        font-weight: 400;
        font-family: "Roboto", sans-serif;
        opacity: 0.5;
      }
    }
  }

  .checkbox {
    display: flex;
    align-items: center;

    input {
      margin-right: 1rem;
    }
  }

  .form-action-btn-container {
    display: flex;
    justify-content: flex-end;

    button {
      margin: 2rem 0.5rem;
      padding: 0.5rem 1rem;
      width: 80px;
      border-radius: 20px;
      border: none;
      color: #415a77;
      font-weight: 500;
      font-size: 1.5rem;
      color: #fff;

      &:hover {
        opacity: 0.7;
      }
    }
    .submit-btn {
      background: #5783db;

      &:disabled {
        opacity: 0.3;
      }
    }

    .reset-btn {
      background: #ef233c;
    }
  }
}
