.kr-svg {
    enable-background:new 0 0 100 66.5;
    .st0{fill:#FEFEFE;}
    .st1{fill:#C50C31;}
    .st2{fill:#013377;}
    .st3{fill:#12315A;}
    .st4{fill:#B82346;}
    .st5{fill:#163359;}
    .st6{fill:#333466;}
    .st7{fill:#153359;}
    .st8{fill:#545778;}
    .st9{fill:#13366E;}
    .st10{fill:#632E65;}
    .st11{fill:#4F154B;}
    .st12{fill:#0C3174;}
    .st13{fill:#BC0E32;}
    .st14{fill:#0B3175;}
}